body,h1,h2,h3,p,ul,ol,form,fieldset,figure {
	margin: 0;
	padding: 0;
}
div,figure,img,input,button,header{
	box-sizing: border-box;
}
body {
	background-color: #f4f4f4;
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
img {
	display: block;
	width: 100%;
	height: 100%;
}
ul,ol {
	list-style: outside none none;
}
a {
	text-decoration: none;
}
.none {
	display: none;
}
.sm-visible {
	display: none;
}
.clearfix:after {
	content:".";  
	height:0;  
	visibility:hidden;  
	display:block;  
	clear:both;  
}


#header{
	width: 100%;
	height: 100px;
	background: #ffffff;
	box-shadow: 1px 1px 1px #888888;
	z-index: 999;
	position: relative;
}

#header img{
	float: left;
	width: 229px;
	margin-left: 13%;
}

#header .navibar{
    float: left;
    width: 55%;
    height: 35px;
    text-align: center;
    margin-top: 50px;
    margin-left: 6%;
}

#header .navibar li{
	float: left;
	width: 12%;
	height: 35px;
	line-height: 35px;
	margin-right: 5px;
}

#header .navibar li a{
	font-size: 15px;
    color: #858585;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

#header .navibar li a:hover,#header .navibar li.active a{
  background: #c4950e;
  color: #ffffff;
  	border-radius: 8px;
}

#header .menuIcon{
	display: none;
}
#header .menuIcon .iconfont{
	font-size: 70px;
	color: #c4950e;
	float: right;
	margin-right: 50px;
	cursor: pointer;
}

#index .menu{
	background: red;
	display: inline-block;
	z-index: 9999;
	position: absolute;
	right: 0;
	top: 101px;
	border-bottom: 1px solid gainsboro;
	border-left: 1px solid gainsboro;
	display: none;
}

#index .menu li{
	width: 500px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	background: white;
	cursor: pointer;
}

#index .menu li a{
	font-size: 50px;
	color:black;
	text-decoration: none;
}

#index .menu li:hover{
	background: #05a627;
}







#index .box1{
	width: 100%;
	margin: 0;	
}


.swiper-button-next.swiper-button-gray,.swiper-button-next1.swiper-button-gray{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23fcffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-gray,.swiper-button-prev1.swiper-button-gray{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23fcffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev,
.swiper-button-next{
  position: absolute;
  top: 48%;
  width: 50px;
  height: 100px;
  margin-top: -30px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 50px 50px;
  -webkit-background-size: 50px 50px;
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color:rgba(0,0,0,1);
  opacity: 0.2;
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
  background-color:rgba(255,255,255,0.2);
}

#index .box1 .sw1{
	background:url(../img/banner_01.jpg) no-repeat;
	background-size:100% 100%;
}
#index .box1 .sw2{
	background:url(../img/banner_01.jpg) no-repeat;
	background-size:100% 100%;
}
#index .box1 .sw3{
	background:url(../img/banner_01.jpg) no-repeat;
	background-size:100% 100%;
}

.index-about,#index .box4,#index .box5,#index .box6{
	width: 100%;
	text-align: center;
	padding: 2.5% 0;
}

.index-about .p1,#index .box4 .p1,#index .box5 .p1,#index .box6 .p1{
    color: #b2b2b2;
    font-size: 30px;
}

.index-about .p2,#index .box4 .p2,#index .box5 .p2,#index .box6 .p2{
    color: #1f1e1e;
    font-size: 25px;
    padding-top: 1%;
}


.index-about{
	width: 100%;
}
.index-about .swiper5{
	width: 80%;
	margin: 0 auto;
	padding-bottom: 5%;
    margin-top: 3%;
}

.index-about .swiper-slide{
	background: #ffffff;
	padding:2% 0;

}

.index-about .swiper-slide img{
	width: 30%;
	margin: 0 auto;
	cursor: pointer;
}

.index-about .swiper-slide .pp1{
	color: #2e2e2e;
	font-size: 20px;
	padding-top: 2%;
}
.index-about .swiper-slide .pp2{
	color: #c1c0c0;
	font-size: 15px;
	padding-top: 2%;
}




.my-about{
   width: 100%;
   background:url(../img/my_about-imgbg.jpg) no-repeat top;
   background-size: cover;
   position: relative;
}

.my-about .my-about-cover{
	width: 50%;
	background: linear-gradient(to right, rgba(255,255,255,0.9), rgba(255,255,255,0.6));
	padding-left: 45px;
	padding-bottom: 60px;
}

.my-about .my-about-cover .title-en{
	color: #000000;
	font-size: 20px;
	padding-top: 80px;
}

.my-about .my-about-cover .title-cn{
	color: #c49727;
	font-size: 50px;
	font-weight: bold;
	padding-top: 15px;
}

.my-about .my-about-cover .description{
	color: #a8a8a8;
	font-size: 17px;
	width: 82%;
	padding-top: 20px;
}

.my-about .my-about-cover .content{
	color: #a7833b;
	font-size: 18px;
	width: 82%;
	padding-top: 40px;
	text-indent: 25px;
}

.my-about .my-about-cover .content-one{
	padding-top:80px;
}

.my-about .my-about-cover .more{
	color: #a8a8a8;
	font-size: 18px;
	width: 200px;
	min-width: 30%;
	height: 60px;
	line-height: 60px;
	background: #c4950e;
	border-radius: 25px;
	text-align: center;
	color: #ffffff;
	margin-top: 85px;
}

.my-about .over{
	color: #a8a8a8;
	font-size: 18px;
	width: 200px;
	min-width: 55%;
	height: 100px;
	line-height: 100px;
	background: #c4950e;
	text-align: left;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 10%;
	

	
}


#index .box4{
	width: 100%;
	text-align: center;
	background: #ffffff;
}

#index .box4 .swiper2{
	width: 90%;
	margin: 0 auto;
	margin-top: 2%;
	padding-bottom: 5%;
}
#index .box4 .swiper2 .swiper-slide{
    padding-bottom: 2%;
    background: #ffffff;
    box-shadow: 2px 2px 10px #888888;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}


#index .box4 .swiper2 .pp1{
   color:#1f1e1e;
   font-size:20px;
   padding-top: 5%;
}
#index .box4 .swiper2 .pp2{
   color:#aeadad;
   font-size:13px;
   padding-top: 4%;
   white-space: nowrap;
   text-overflow: ellipsis;
}

#index .box4 .nextBtn{
	position: absolute;
	top: 44%;
	right: 3%;
	width: 70px;
	height: 140px;
	z-index: 999;
	opacity: 0.6;
}

#index .box4 .prevBtn{
	position: absolute;
	top: 44%;
	left: 3%;
	width: 70px;
	height: 140px;
	z-index: 999;
	opacity: 0.6;
}

#index .box4 .nextBtn:hover,#index .box4 .prevBtn:hover{
	opacity: 0.8;
}




#index .box5{
	width: 100%;
	text-align: center;
	background: #f4f4f4;
	padding-bottom: 1%;
}
#index .box5 .engList{
	display: inline-block;
	margin-top: 5%;

}
#index .box5 .engList li{
	float: left;
	color: #8c8c8c;
	font-size: 20px;	
	cursor: pointer;
	margin-left: 30px;
    border: 1px solid #FFFFFF;
	border-radius: 10px; 
	padding: 0 20px;
}

#index .box5 .engList li:hover,#index .box5 .engList li.active{
	  border: 1px solid #c4950e;
	  border-radius: 10px; 
	  color: #c4950e;
}

#index .box5 .container{
	 width: 80%;
	 margin: 0 auto;
	 margin-top: 2%;
}

#index .box5 .swiper3 .left{
	 width: 65%; 
	 float: left;
}
#index .box5 .swiper3 .right{
	width: 33%;
	float: left;
	margin-left: 2%;	 
}
#index .box5 .swiper3 .right img{
	height: 48%; 
}
#index .box5 .swiper3 .right .mg2{
	margin-top: 4%;
}

#index .box6{
	width: 100%;
	display: inline-block;
	text-align: center;
	background: #FFFFFF;
	margin-top: 2%;
	padding-bottom: 3%;
}

#index .box6 .newsList{
	 margin: 2% 0;
}

#index .box6 .newsList  .left{
	text-align: right;
	border-right: 2px solid #e5e5e5;
}
#index .box6 .newsList  .right{
	text-align: left;
}

#index .box6 .newsList  .left .num{
	color: #828282;
	font-size: 60px;
	font-weight: bold;
}
#index .box6 .newsList  .left .time{
	color: #828282;
	font-size: 20px;
}

#index .box6 .newsList  .right .title{
   color: #686868;
   font-size: 20px;
}

#index .box6 .newsList  .right .description{
   color: #b5b5b5;
   font-size: 15px;
   padding-top: 1%;
}

#index .box5 .more{
	display: inline-block;
	color: #c4950e;
	font-size: 25px;
	border-radius: 30px;
	border: 1px solid #c4950e;
	padding: 0.5% 3%;
	cursor: pointer;
	margin-top: 3%;
}
#index .box6 .more{
	display: inline-block;
	color: #c4950e;
	font-size: 25px;
	border-radius: 30px;
	border: 1px solid #c4950e;
	padding: 0.5% 3%;
	cursor: pointer;
	margin-top: 1%;
}

#footer{
	width: 100%;
	background:#e1e1e1 ;
	padding: 5%;
	text-align: center;
}

#footer .main{
	display: inline-block;
}

#footer .main .left{
float: left;
text-align: left;
padding-top: 10px;
}

#footer .main .left .p1{
  color: #a3a3a3;
  font-size: 16px;
}

#footer .main .left .p1 span{
  color: #a3a3a3;
  font-size: 30px;
  font-weight: bold;
}

#footer .main .left .p2{
  color: #a3a3a3;
  font-size: 16px;
}

#footer .main .center{
  float: left;
  margin-left: 30px;
}

#footer .main .center img{
   width: 77px;
   height: auto;
   float: left;
   margin-left:30px
}
#footer .main .right{
  float: left;
  padding-top: 30px;
  margin-left: 40px;
}

#footer .main .right .p3{
  color: #797979;
  font-size: 16px;
}









 
/*自定义分页期*/
#index  .box4-pagination{position: absolute;bottom: 15px;text-align: center; z-index: 99;}
#index  .box4-pagination .swiper-pagination-bullet{width: 25px; height: 10px; background: #d2d2d2; border-radius:5px;opacity: 1;}
#index  .box4-pagination .swiper-pagination-bullet-active{background: #c4950e;}




/*当页面大于1200px 时，大屏幕，主要是PC 端*/
@media (min-width: 1200px)and (max-width: 1400px)  {
     
}
/*在992 和1199 像素之间的屏幕里，中等屏幕，分辨率低的PC*/
@media (min-width: 992px) and (max-width: 1310px) {



#header img{
	float: left;
	width: 229px ;
	padding: 10px 0;
	margin-left: 7%;
}

#header .navibar{
    float: left;
    width: 60%;
    text-align: center;
    margin-top: 50px;
    margin-left: 4%;
}

#header .navibar li{
	float: left;
	width: 13%;
	height: 35px;
	line-height: 35px;
}


#index .box4 .nextBtn{
	position: absolute;
	top: 44%;
	right: 3%;
	width: 65px;
	height: 130px;
	z-index: 999;
	opacity: 0.6;
}

#index .box4 .prevBtn{
	position: absolute;
	top: 44%;
	left: 3%;
	width: 65px;
	height: 130px;
	z-index: 999;
	opacity: 0.6;
}


#footer .main .right{
  float: none;
  padding-top: 120px;
  margin-left: 40px;
}



}

/*在768 和991 像素之间的屏幕里，小屏幕，主要是PAD*/
@media (max-width: 991px) {

#header .navibar{
	display: none;
}
#header .menuIcon{
	display: block;
}

#index .box1 .sw1{
	background:url(../img/ajbanner.png) no-repeat;
	background-size:100% 100%;
	
}
#index .box1 .sw2{
	background:url(../img/ajbanner.png) no-repeat;
	background-size:100% 100%;
}
#index .box1 .sw3{
	background:url(../img/ajbanner.png) no-repeat;
	background-size:100% 100%;
}

#index .box4,#index .box5,#index .box6{
   padding: 2.5% 0;
}

#index .box4 .p1,#index .box5 .p1,#index .box6 .p1{
    color: #b2b2b2;
    font-size: 50px;
}
#index .box4 .p2,#index .box5 .p2,#index .box6 .p2{
    color: #1f1e1e;
    font-size: 40px;
    padding-top: 1%;
    font-weight: bold;
}

#index .box4 .swiper2{
	padding-bottom: 15%;
}

#index .box4 .swiper2 .pp1{
   color:black;
   font-size:30px;
   padding-top: 5%;
}
#index .box4 .swiper2 .pp2{
   color:#aeadad;
   font-size:23px;
   padding-top: 4%;
}

#index .box4 .nextBtn{
	position: absolute;
	top: 44%;
	right: 3%;
	width: 60px;
	height: 120px;
	z-index: 999;
	opacity: 0.6;
}

#index .box4 .prevBtn{
	position: absolute;
	top: 44%;
	left: 3%;
	width: 60px;
	height: 120px;
	z-index: 999;
	opacity: 0.6;
}


#index .box6 .newsList  .left .num{
	color: #828282;
	font-size: 80px;
	font-weight: bold;
}
#index .box6 .newsList  .left .time{
	color: #828282;
	font-size: 30px;
}

#index .box6 .newsList  .right .title{
   color: #686868;
   font-size: 40px;
}

#index .box6 .newsList  .right .description{
   color: #b5b5b5;
   font-size: 30px;
   padding-top: 2%;
}

#index .box6 .more{
	font-size: 45px;
}

#footer .row .left{
	display: none;
}
#footer .row .right{
	text-align: center;
	padding: 3% 0;
}

#footer .main .right{
  float: none;
  padding-top: 120px;
  margin-left: 40px;
}




/*自定义分页期*/
#index  .box4-pagination{position: absolute;bottom: 15px;text-align: center; z-index: 99;}
#index  .box4-pagination .swiper-pagination-bullet{width: 40px; height: 20px; background: #d2d2d2; border-radius:5px;opacity: 1;}
#index  .box4-pagination .swiper-pagination-bullet-active{background: #c4950e;}
	
}






/*动画*/
@-webkit-keyframes bounceInLeft{ 
	0%{opacity:0;-webkit-transform:translateX(-2000px);transform:translateX(-2000px)}
	60%{opacity:1;-webkit-transform:translateX(30px);transform:translateX(30px)}
	80%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}
	100%{-webkit-transform:translateX(0);transform:translateX(0)}
}@keyframes bounceInLeft{
	0%{opacity:0;-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px)}
	60%{opacity:1;-webkit-transform:translateX(30px);-ms-transform:translateX(30px);transform:translateX(30px)}
	80%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px)}
	100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;}
}


@-webkit-keyframes bounceInRight{ 
	0%{opacity:0;-webkit-transform:translateX(2000px);transform:translateX(2000px)}
	60%{opacity:1;-webkit-transform:translateX(-30px);transform:translateX(-30px)}
	80%{-webkit-transform:translateX(10px);transform:translateX(10px)}
	100%{-webkit-transform:translateX(0);transform:translateX(0)}
}@keyframes bounceInRight{
	0%{opacity:0;-webkit-transform:translateX(2000px);-ms-transform:translateX(2000px);transform:translateX(2000px)}
	60%{opacity:1;-webkit-transform:translateX(-30px);-ms-transform:translateX(-30px);transform:translateX(-30px)}
	80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}
	100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;}
}


.bounceInLeft{
-webkit-animation-name: bounceInLeft; 
animation-name: bounceInLeft; 
animation-duration: 0.5s; 
animation-timing-function: ease-in-out; 
animation-iteration-count: 1; 
animation-delay: 0s; 
animation-fill-mode: forwards; 
}

.bounceInRight {
-webkit-animation-name: bounceInRight;
animation-name: bounceInRight;
animation-duration: 0.5s; 
animation-timing-function: ease-in-out; 
animation-iteration-count: 1; 
animation-delay: 0s; 
animation-fill-mode: forwards; 
}


@-webkit-keyframes rollIn{
	0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg)}
	100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg)}
}@keyframes rollIn{
		0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);-ms-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg)}
		100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);-ms-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg)}
}
		
		
.rollIn{
-webkit-animation-name: rollIn;
animation-name: rollIn;
animation-duration: 1s; 
animation-timing-function: ease-in-out; 
animation-iteration-count: 1; 
animation-delay: 0s; 
animation-fill-mode: forwards; 
}

@-webkit-keyframes bounceInDown{
	0%{opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}
	60%{opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px)}
	80%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}
	100%{-webkit-transform:translateY(0);transform:translateY(0)}
}@keyframes bounceInDown{
	0%{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px)}
	60%{opacity:1;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px)}
	80%{-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px);opacity:1;}
	100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1;}
}
	
.bounceInDown{
-webkit-animation-name: bounceInDown;
animation-name: bounceInDown;
animation-duration: 1s; 
animation-timing-function: ease-in-out; 
animation-iteration-count: 1; 
animation-delay: 0s; 
animation-fill-mode: forwards; 
}

@-webkit-keyframes bounceInUp{
	0%{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px)}
	60%{opacity:1;-webkit-transform:translateY(-30px);transform:translateY(-30px)}
	80%{-webkit-transform:translateY(10px);transform:translateY(10px)}
	100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1;}
}@keyframes bounceInUp{
	0%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px)}
	60%{opacity:1;-webkit-transform:translateY(-30px);-ms-transform:translateY(-30px);transform:translateY(-30px)}
	80%{-webkit-transform:translateY(10px);-ms-transform:translateY(10px);transform:translateY(10px)}
	100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1;}
}

.bounceInUp
{
-webkit-animation-name: bounceInUp;
animation-name: bounceInUp;
animation-duration: 1s; 
animation-timing-function: ease-in-out; 
animation-iteration-count: 1; 
animation-delay: 0s; 
animation-fill-mode: forwards; 
}

@keyframes bounceUp{
	0%{opacity:0;-webkit-transform:translateY(3000px);-ms-transform:translateY(3000px);transform:translateY(3000px)}
	50% {opacity: 0;} 
	90% {opacity: 0.2;}  
	100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}

.bounceUp
{
-webkit-animation-name: bounceUp;
animation-name: bounceUp;
animation-duration: 1s; 
animation-timing-function: ease-in-out; 
animation-iteration-count: 1; 
animation-delay: 0s; 
animation-fill-mode: forwards; 
}









