html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
	background-color: #ffffff;
	font-size: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
img { 
	border-style: none; 
}
input{
	outline: none;
}
.none {
	display: none;
}
/*取消放大图标*/
.am-figure-zoomable:after{
	display: none;
}

.clearfix:after {
	content:".";  
	height:0;  
	visibility:hidden;  
	display:block;  
	clear:both;  
}
.clearMarg:before {
	content:".";  
	height:0;  
	visibility:hidden;  
	display:block;  
}



.main-container{
	display: block;
	width: 7.02rem;
	margin: 0 auto;
}
.main-img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.main-line{
	width: 100%;
	height: 1px;
	background: #000000;
}


/*搜索框开始*/
.serach-bar{
  font-size: 0;
  z-index: 97;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  display: none;
  background: #ffffff;
}
.myForm{
	width:90%;
	height: 0.8rem;
    line-height: 0.8rem;
	padding: 0.1rem;
	margin: 0 auto;
}
.serach-bar .search-input{
   width: 80%;
   height: 0.6rem;
   font-size: 0.3rem;
   float: left;
   border: 1px solid #000000;
}
.serach-bar .serachBtn{
	width:20%;
    height: 0.6rem;
    line-height: 0.6rem;
	font-size: 0.3rem;
	float: left;
	text-align: center;
	background:#000000 ;
	color: #ffffff;
	border: 1px solid #000000;
}
/*搜索框结束*/

/*菜单开始*/
.menu{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
	width: 100%;
	background: rgba(255,255,255,0.8);
	display: none;
}
.menu-bar{
	float: left;
	width: 4rem;
	background: #5b5b5b;
	margin-left: -500px;
}
.menu-bar li{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.25rem;
	text-align: center;
	border-bottom: 1px solid gainsboro;
}
.menu-bar li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #ffffff;
}
.menu-bar li.active a{
	color:coral;
}
.menu-close{
  float: right;
  margin-right: -500px;
}
.close-btn{
  display: block;
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.48rem;
  text-align: center;
  font-size: 0.45;
  color: #ffffff;
  background: #5b5b5b;
  margin-top: 0.3rem;
  margin-right: 0.3rem;
}
/*菜单结束*/

/*首页标题开始*/
.my-title-box{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.my-title-box .title-cn{
	color: #000000;
	font-size: 0.35rem;
	font-weight: normal;
}
.my-title-box .title-en{
	color: #838383;
	font-size: 0.25rem;
	margin-top: 0.12rem;
}
/*首页标题结束*/



/*内页标题开始*/
.inside-title-box{
	display: inline-block;
	width: 100%;
	height: 0.8rem;
	line-height: 0.78rem;
	background: #f0f0f0;
	padding: 0 0.3rem 0 0.25rem;
}
.inside-title-box .title{
	float: left;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	color: #bf0008;
	font-size: 0.38rem;
}
.inside-title-box .more{
	float: right;
	color: #bf0008;
	font-size: 0.38rem;
}
/*内页标题结束*/



/*内页选项开始*/
.inside-tabbar{
	display: inline-block;
	width: 100%;
    background: #dcdcdc;
    padding:0.1rem 0.25rem;
}
.inside-tabbar-List{
	display: inline-block;
	width: 100%;
}
.inside-tabbar-List li{
	float: left;
	width: 2rem;
	height: 0.8rem;
	line-height: 0.8rem;
	position: relative;
	text-align: center;
	z-index: 99;	
	margin-top: 0.3rem;
}
.inside-tabbar-List li:nth-child(1),.inside-tabbar-List li:nth-child(2),.inside-tabbar-List li:nth-child(3){
   margin-top: 0rem;
}
.inside-tabbar-List li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #999999;
	font-size: 0.3rem;
	border-radius: 0.07rem;
}
.inside-tabbar-List li.active a{
	color: #000000;
	background: #ffffff;
}
.inside-tabbar-List li:not(:nth-child(3n)){
  margin-right:0.2rem;
}
/*内页选项结束*/


/*一瓷多面开始*/
.duomian{
	display: inline-block;
	width: 100%;
	background: #ffffff;
}
.duomian-List{
	display: inline-block;
	width: 100%;
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
}
.duomian-List li{
	float: left;
	width: 2.32rem;
	height: 2.32rem;
	margin-top: 0.03rem;
}
.duomian-List li a{
	display: block;
	width: 100%;
	height: 100%;
}
.duomian-img{
	display: block;
	width: 100%;
	height: 100%;
}
.duomian-List li:not(:nth-child(3n)){
	margin-right: 0.03rem;
}
/*一瓷多面结束*/


/*内页副标题*/
.inside-title{
	width: 100%;
	color: #000000;
	font-size: 0.4rem;
}
.inside-title span{
	color: #939393;
	font-size: 0.3rem;
	margin-left: 0.2rem;
}
/*内页副标题*/

/*空间应用开始*/
.room{
	display: inline-block;
	width: 100%;
    padding-top: 0.5rem;
}
.room-img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 0.3rem;
}
/*空间应用结束*/

/*配件开始*/
.peijian{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 0.45rem;
}
.peijian-List{
	display: inline-block;
	width: 100%;
}
.peijian-List li{
	display: inline-block;
	margin-top:0.22rem;
}
.peijian-img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.peijian-List li .content{
	display: inline-block;
	width: 100%;
	margin-top: 0.05rem;
}
.peijian-List li .content .name{
	float: left;
	color: #000000;
	font-size: 0.22rem;
	font-weight: 500;
}
.peijian-List li .content .size{
	float: right;
	color: #000000;
	font-size: 0.18rem;
}
/*配件结束*/

/*头部*/
.header{
	display: inline-block;
	width: 100%;
	position: fixed;
	font-size: 0;
	z-index: 100;
}
.header-top{
	width: 100%;
	height:1.04rem;
	background: #ffffff;
	position: relative;
}
.top-whiteSpace{
	width: 100%;
	height: 1.74rem;
	background: #ffffff;
}
.header-top .logo{
	float: left;
	width: 2.75rem;
	margin-left: 0.35rem;
	margin-top: 0.2rem; 
	text-decoration:blink;
}

.header-title{
	float: left;
	width: 3.15rem;
	color: rgb(0,0,0);
	font-size: 0.3rem;
	margin-left: 0.3rem;
	margin-top: 0.4rem;
	font-weight: normal;
	position: relative;
}

.header-menu{
	width: 100%;
	height: 0.7rem;
	background: #5b5b5b;
}
.header-menu .menu-btn{
	float: left;
	display: block;
	color: #f0f0f0;
	font-size: 0.35rem;
	margin-left: 0.35rem;
	margin-top: 0.2rem; 
}
.header-top .menu-left-Btn{
	left: 0.5rem;
}
.header-top .menu-right-Btn{
	right: 0.25rem;
}
.header-top .menu-right-right-Btn{
	right: 1rem;
}

.banner img{
	display: block;
	width: 100%;
}
/*自定义分页器*/
.banner-pagination{position: absolute;text-align: center; z-index: 99;}
.banner-pagination .swiper-pagination-bullet{width: 0.1rem; height: 0.1rem; background:#a6a6a6;opacity: 1; border-radius:100%;}
.banner-pagination .swiper-pagination-bullet-active{background: #5a5a5a;}



/*首页-应用案例开始*/
.my-project{
	display: inline-block;
	width: 100%;
	background: #e8e8e8;
	padding: 0.4rem 0;
	text-align: center;
}
.my-project-swiper{
	width: 100%;
	height: 3.53rem;
	margin-top: 0.3rem;
}
.my-project-swiper .swiper-slide a{
    display: block;
    width: 100%;
    height: 100%;
}
.my-project-img{
	display: block;
	width: 100%;
	height: 100%;
}
.btn-group{
	display: inline-block;
	margin-top: 0.45rem;
}
.btn-group .prev-btn,.btn-group .next-btn{
	float: left;
	width: 0.5rem;
	height: 0.5rem;
	line-height: 0.48rem;
	text-align: center;
	font-size: 0.3rem;
	font-weight: bold;
	border: 1px solid #000000;
}
.btn-group .prev-btn{
	padding-left: 0.1rem;
}
.btn-group .next-btn{
	padding-right: 0.1rem;
	margin-left: 0.5rem;
}
/*首页-应用案例结束*/

/*首页-产品产品开始*/
.my-product{
	display: inline-block;
	width: 100%;
	background: #ffffff;
	padding: 0.4rem 0 0.7rem 0;
	text-align: center;
}
.my-product-swiper{
	width: 100%;
	height: 4.3rem;
	margin-top: 0.3rem;
}
.my-product-swiper .swiper-slide a{
    display: block;
    width: 3.28rem;
    height: 100%;
}
.my-product-swiper .swiper-slide a .img-box{
	width: 3.28rem;
	height: 3.28rem;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.my-product-img{
    max-width: 100%;
}

.my-product-swiper .name{
	color: #000000;
	font-size: 0.3rem;
	margin-top: 0.28rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.my-product-swiper .type{
	color: #8c8c8c;
	font-size: 0.3rem;
	margin-top: 0.1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*首页-产品产品结束*/


/*首页-关于我们开始*/
.my-about{
	display: inline-block;
	width: 100%;
	height: 3.45rem;
}
.my-about a{
	display: block;
	width: 100%;
	height: 100%;
}
/*首页-关于我们结束*/

/*首页-新闻资讯开始*/
.my-news{
	display: inline-block;
	width: 100%;
	background: #ffffff;
	padding: 0.65rem 0 0.35rem 0; 
}
.my-news-swiper{
	width: 100%;
	height: 3.42rem;
	margin-top: 0.4rem;
}
.my-news-img{
	display: block;
    width: 100%;
    height: 2.32rem;	
}
.my-news-swiper .content{
	display: inline-block;
	width: 100%;
	height: 0.11rem;
	padding: 0.13rem 0.15rem;
}
.my-news-swiper .content .title{
	color: #000000;
	font-size: 0.25rem;
	line-height: 0.3rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.my-news-swiper .content .line{
	width: 100%;
	height: 1px;
	background: #000000;
	margin-top: 0.12rem;
	
}
.my-news-swiper .content .description{
	color: #949494;
	font-size: 0.25rem;
	line-height: 0.3rem;
	margin-top: 0.15rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.my-news .more{
	float: left;
	margin-top: 0.45rem;
	width: 1.05rem;
	height: 0.5rem;
	line-height: 0.48rem;
	color: #000000;
	font-size: 0.25rem;
	border: 1px solid #000000;
	text-align: center;
}
.my-news .btn-group{
	float: right;
	margin-top: 0.45rem;
}


/*底部开始*/
.footer{
	width: 100%;
	height: 1rem;
	background: #000000;
	position: fixed;
	bottom: 0;
	z-index: 999;
}
.footer .footNaviList{
	width: 100%;
	height: 100%;
}
.footer .footNaviList li{
	float: left;
	width: 20%;
	height: 1rem;
	text-align: center;
	cursor: pointer;
	padding-top: 0.12rem;
}
.footer .footNaviList li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #ffffff;
	font-size: 0.2rem;
}
.footer .footNaviList li.active a{
    color: #e60012;	
}
.footer .footNaviList li .iconfont{
	font-size: 0.45rem;
}
.footer .footNaviList li .name{
	font-size: 0.2rem;
	padding-top: 0.08rem;
}
.footer-whiteSpace{
	width: 100%;
	height: 1rem;
	background: #ffffff;
}
/*底部结束*/




/*关于*/
.about{
	display: inline-block;
	width: 100%;
	font-size: 0;
	background: #ffffff;
	padding-top: 0.4rem;
	padding-bottom: 0.3rem;
}
/*关于*/



/*产品中心开始*/
.product{
	display: inline-block;
	width: 100%;
	font-size: 0;
	background: #ffffff;
	padding-top: 0.2rem;
	padding-bottom: 0.5rem;
}
.product-List{
	display: inline-block;
	width: 100%;
}
.product-List li{
	float: left;
	width: 3.28rem;
	height: 4.3rem;
	margin-top: 0.2rem;
}
.product-List li:not(:nth-child(2n)){
	margin-right: 0.45rem;
}
.product-List li .img-box{
	width: 3.28rem;
	height: 3.28rem;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.product-img{
	max-width: 100%;
}
.product-List li .name{
	text-align: center;
	color: #000000;
	font-size: 0.35rem;
	margin-top: 0.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.product-List li .type{
	text-align: center;
	color: #afafaf;
	font-size: 0.28rem;
	margin-top: 0.1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*产品中心结束*/

/*产品详情*/
.product-detail{
	display: inline-block;
	width: 100%;
	font-size: 0;
	background: #ffffff;
    padding-top: 0.4rem;
    padding-bottom: 0.6rem;
}

.product-gallery{
	display: inline-block;
	width: 7.02rem;
}
.show-img-box{
	width: 7.02rem;
	height: 7.02rem;
	border: 1px solid #000000;
	padding: 0.14rem;
	position: relative;
}
.show-img-box .img-box{
	width: 6.74rem;
	height: 6.74rem;
	display: table-cell;
	text-align: center;
	vertical-align: middle;	
}
.show-img-box .img-box .show-pro-img{
	max-width: 100%;
}

.show-img-box .cover{
	width: 100%;
	height: 0.75rem;
	line-height: 0.75rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 80;
	background: rgba(0,0,0,0.4);
}
.show-img-box .cover-content{
	display: inline-block;
}
.show-img-box .cover-content .size{
	float: left;
	color: #ffffff;
	font-size: 0.35rem;
}
.show-img-box .cover-content .name{
	float: left;
	color: #ffffff;
	font-size: 0.35rem;
	margin-left: 0.4rem;
}

.product-gallery-swiper{
	width: 100%;
	margin-top: 0.2rem;
}
.product-gallery-swiper .swiper-slide{
	padding: 0.09rem;
	border-top: 0.05rem solid rgba(0,0,0,0);
}
.product-gallery-swiper .swiper-slide.active{
	border-top: 0.05rem solid #e60012;
}
.thumbs-img{
	width: 100%;
	height: 100%;
}

.info-content{
	display: inline-block;
	width: 100%;
	padding-top: 0.65rem;
}
.info-name{
	color: #000000;
	font-size: 0.35rem;
}
.info-description{
	color: #7b7b7b;
	width: 5rem;
	font-size: 0.3rem;
	line-height: 0.45rem;
	margin-top: 0.25rem;
}
.info-line{
	width: 100%;
	height: 0.02rem;
	background:#cfcfcf;
	margin-top: 0.5rem;
}
.info-p{
	color: #000000;
	font-size: 0.3rem;
	margin-top:0.3rem;
}
.info-p span{
	color: #808080;
}



/*新闻资讯*/
.news{
	display: inline-block;
	width: 100%;
	font-size: 0;
	background: #ffffff;
	padding-bottom: 0.5rem;
}
.news-List{
	display: inline-block;
	width: 100%;
	margin-top: 0.3rem;
}
.news-List li{
	display: inline-block;
	width: 100%;
	height: 2rem;
	margin-top: 0.4rem;
	border-bottom: 2px solid #ebebeb;
}
.news-List li a{
	display: block;
	width: 100%;
	height: 100%;
}
.news-img{
	float: left;
	width: 2.58rem;
	height: 1.8rem;
}
.news-List li .content{
	float: left;
	width: 4.44rem;
	padding-left: 0.22rem;
}
.news-List li .content .title{
	color: #000000;
	font-size: 0.3rem;
	line-height: 0.32rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.news-List li .content .description{
	color: #8d8d8d;
	font-size: 0.23rem;
	line-height: 0.34rem;
    overflow:hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; 
	text-overflow:ellipsis;
	margin-top: 0.15rem;
}
.news-List li .line{
	width: 1rem;
	height: 0.05rem;
	background: #bf0008;
	margin-top: 0.22rem;
}
.news-List li .time{
	width: 100%;
	color: #525252;
	font-size: 0.22rem;
	text-align: left;
	margin-top: 0.2rem;
}



/*工程案例*/
.project{
	display: inline-block;
	width: 100%;
	font-size: 0;
	background: #ffffff;
	padding-bottom: 0.5rem;
}
.project-List{
	display: inline-block;
	width: 100%;
}
.project-List li{
	display: inline-block;
	width: 100%;
	margin-top: 0.4rem;
}
.project-img{
	display: block;
	width: 100%;
}
.project-List li .name{
	width: 100%;
	height: 0.7rem;
	line-height: 0.7rem;
	color: #000000;
	font-size: 0.35rem;
	text-align: center;
	background: #f0f0f0
}


/*联系我们*/
.contact{
	display: inline-block;
	width: 100%;
	font-size: 0;
	background: #ffffff;
	padding-top: 0.7rem;
	padding-bottom: 0.5rem;
}
.advice-btn{
	display: block;
	width: 2.6rem;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	color: #ffffff;
	font-size: 0.3rem;
	background: #edb625;
	margin:0 auto;
	margin-top: 0.75rem;
}


/*意见反馈*/
.advice{
	display: inline-block;
	width: 100%;
	font-size: 0;
	background: #ffffff;
	padding-top: 0.45rem;
}
.my-advice{
	display: inline-block;
	width: 6rem;
	font-size: 0;
	text-align: left;
}
.advice-group{
	display: inline-block;
	margin-top: 0.2rem;
}
.advice-group .advice-label{
	color: #000000;
	font-size: 0.25rem;
	width: 1rem;
	height: 0.6rem;
	line-height: 0.6rem;
	float: left;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}
.advice-group .advice-input{
	width: 5rem;
	height: 0.6rem;
	line-height: 0.6rem;
	float: left;
	border: 1px solid #C2C2C2;
	border-radius: 5px;
	font-size: 0.25rem;
	padding-left: 5px;
}
.advice-group .advice-textarea{
	width: 5rem;
	height: 2rem;
	float: left;
	font-size: 0.25rem;
	padding-left: 0.1rem;
}
.yzm-group{
	width: 5rem;
	height: 0.6rem;
	float: left;
}
.yzm-group .yzm-input{
	width:2rem;
	height: 0.6rem;
	line-height: 0.6rem;
	border: 1px solid #C2C2C2;
	border-radius: 5px;
	font-size: 14px;
	padding-left: 10px;
	float: left;
}
.yzm-img{
	float: left;
	width: 2.5rem;
	height: 0.6rem;
	margin-left: 0.1rem;
	border-radius: 0.05rem;
	border: 1px solid #c8c8c8;
}
.advice-submit{
	display: block;
	width: 1.2rem;
	height: 0.6rem;
	line-height: 0.38rem;
	text-align: center;
	font-size: 0.3rem;
	margin-left: 2.5rem;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	color: #ffffff;
	background: #d9534f;
	border: 1px solid #d9534f;
	border-radius: 0.05rem;
}

/*文本框提示文本的颜色*/
.advice-group input:-ms-input-placeholder{
color: #c6c6c6;
}
.advice-group input::-webkit-input-placeholder{
color: #c6c6c6;
}
.advice-group textarea:-ms-input-placeholder{
color: #c6c6c6;
}
.advice-group textarea::-webkit-input-placeholder{
color: #c6c6c6;
}


/*自定义动画开始*/
@-webkit-keyframes bounceInLeft{ 
	0%{margin-left: -500px;opacity: 0;}
	100%{margin-left: 0px;opacity: 1;}
}
@keyframes bounceInLeft{
	0%{margin-left: -1000px;opacity: 0;}
	100%{margin-left: 0px;opacity: 1;}
}
.bounceInLeft {
-webkit-animation-name: bounceInLeft;
animation-name: bounceInLeft;
animation-duration: 0.7s; 
animation-timing-function: ease-in-out; 
animation-iteration-count: 1; 
animation-delay: 0s; 
animation-fill-mode: forwards; 
}

@-webkit-keyframes bounceInRight{ 
	0%{margin-right: -2rem;opacity: 0;}
	100%{margin-right: 1rem;opacity: 1;}
}
@keyframes bounceInRight{
	0%{margin-right: -2rem;opacity: 0;}
	100%{margin-right: 1rem;opacity: 1;}
}
.bounceInRight {
-webkit-animation-name: bounceInRight;
animation-name: bounceInRight;
animation-duration: 1.5s; 
animation-timing-function: ease-in-out; 
animation-iteration-count: 1; 
animation-delay: 0s; 
animation-fill-mode: forwards; 
}

@-webkit-keyframes bounceOutLeft{ 
	0%{margin-left: 0px;opacity: 1;}
	100%{margin-left: -500px;opacity: 0;}
}
@keyframes bounceOutLeft{
	0%{margin-left: 0px;opacity: 1;}
	100%{margin-left: -500px;opacity: 0;}
}
.bounceOutLeft {
-webkit-animation-name: bounceOutLeft;
animation-name: bounceOutLeft;
animation-duration: 0.7s; 
animation-timing-function: ease-in-out; 
animation-iteration-count: 1; 
animation-delay: 0s; 
animation-fill-mode: forwards; 
}
@-webkit-keyframes bounceOutRight{ 
	0%{margin-right: 0px;opacity: 1;}
	100%{margin-right: -1500px;opacity: 0;}
}
@keyframes bounceOutRight{
	0%{margin-right: 0px;opacity: 1;}
	100%{margin-right: -1500px;opacity: 0;}
}
.bounceOutRight {
-webkit-animation-name: bounceOutRight;
animation-name: bounceOutRight;
animation-duration: 0.7s; 
animation-timing-function: ease-in-out; 
animation-iteration-count: 1; 
animation-delay: 0s; 
animation-fill-mode: forwards; 
}
/*自定义动画结束*/






@media (min-width: 320px){html{font-size: 42.7px;}}
@media (min-width: 360px){html{font-size: 48px;}}
@media (min-width: 375px){html{font-size: 50px;}}
@media (min-width: 384px){html{font-size: 51.1px;}}
@media (min-width: 412px){html{font-size: 54.8px;}}
@media (min-width: 414px){html{font-size: 55px;}}
@media (min-width: 448px){html{font-size: 59.6px;}}
@media (min-width: 480px){html{font-size: 63.8px;}}
@media (min-width: 512px){html{font-size: 68px;}}
@media (min-width: 544px){html{font-size: 72.4px;}}
@media (min-width: 576px){html{font-size: 76.6px;}}
@media (min-width: 608px){html{font-size: 80.9px;}}
@media (min-width: 640px){html{font-size: 85.1px;}}
@media (min-width: 750px){html{font-size: 100px;}}
@media (min-width: 800px){html{font-size: 106.5px;}}
@media (min-width: 1024px){html{font-size: 136.5px;}}

