html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
	background-color: #0d3b5d;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
img { 
	border-style: none; 
}
input{
	outline: none;
}
.none {
	display: none;
}
.sm-visible {
	display: none;
}
.clearfix:after {
	content:".";  
	height:0;  
	visibility:hidden;  
	display:block;  
	clear:both;  
}
.clearMarg:before {
	content:".";  
	height:0;  
	visibility:hidden;  
	display:block;  
}

.header{
	width: 100%;
	height:1.05rem;
	background: #003054;
	position: relative;
}
.header img{
	float: left;
	width: 2.12rem;
    margin-left: 0.25rem;	
}

/*自定义工具栏*/
.my-tools{
	float: right;
    margin-top: 0.34rem;
    margin-right: 0.25rem;
}
.menu-tool{
	color: #2373b0;
	font-size: 0.47rem;
    float: right;
}
.search-tool{
	width: 2.36rem;
	height: 0.48rem;
	line-height: 0.48rem;
	float: right;
	border: 1px solid #c5cedf;
    border-radius: 0.12rem;
    margin-right: 0.25rem;
}
.search-tool .iconfont{
    text-align: center;
	font-size: 0.3rem;
	color: #d1d0d0;
	width: 0.54rem;
	height: 0.47rem;
	line-height: 0.47rem;
    float: left;
}
.search-tool .serarchInput{
    width: 1.7rem;
	height: 0.47rem;
	line-height: 0.47rem;
	border: 1px solid rgba(0,0,0,0);
	background: rgba(0,0,0,0);
	border-radius: 0.12rem;
	font-size: 0.2rem;
	float: left;
	color: #d1d0d0;
}
/*文本框提示文本的颜色*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #d1d0d0; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #d1d0d0;
}

.search-tool .serarchInput:-ms-input-placeholder{
color: #d1d0d0;
}

.search-tool .serarchInput::-webkit-input-placeholder{
color: #d1d0d0;
}

.menu-bar{
	display: none;
	z-index: 98;
}
.menu-bar .menuList{
    position: absolute;
    right: 0; 
    z-index: 98; 
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

.menu-bar .menuList li a{
	display: block;
	width: 3rem;
    height: 0.7rem;
    line-height: 0.7rem;
	color: black;
    background: white;
    font-size: 0.2rem;
    text-align: center;
}
.menu-bar .menuList li:hover a,.menu-bar .menuList li.active a{
	color: white;  
	background: black;
}


.banner img{
	width: 100%;
}
/*自定义分页期*/
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0px;
    left: 0;
    width: 100%;
}
.banner-pagination{position: absolute;bottom: 0rem;text-align: center; z-index: 99;}
.banner-pagination .swiper-pagination-bullet{width: 0.1rem; height: 0.1rem; background:rgba(0,0,0,0); border-radius:0px;opacity: 1;border-radius: 100%;border: 1px solid #2373b0;}
.banner-pagination .swiper-pagination-bullet-active{background: #2373b0;}

.main-container{
	width: 7.05rem;
	margin: 0 auto;
	font-size: 0;
}

.my-navibar-top{
	width: 100%;
	height: 2.6rem;
	background: #0d3b5d;
}
.my-navibar-top .navibar-top-List{
	width: 7.05rem;
	height: 1.85rem;
	margin: 0 auto;
	margin-top: 0.4rem;
}
.my-navibar-top .navibar-top-List li{
	float: left;
	width: 3.35rem;
	height: 1.85rem;
    border-radius: 0.2rem;
}
.my-navibar-top .navibar-top-List li:not(:nth-child(2n)){
	margin-right: 0.175rem;
}
.my-navibar-top .navibar-top-List li .cover{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0.2rem;
	background: rgba(24,83,126,0.85);
}
.my-navibar-top .navibar-top-List li .cover .title{
	width:3.07rem;
	height: 1.13rem;
	line-height: 1.13rem;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 0.4rem;
	text-align: center;
	margin-left: 0.14rem;
	margin-top: 0.36rem;
}



.my-product{
	width:100%;
	background: #003054;
	font-size: 0;
	padding-bottom: 0.3rem;
}
.index-title-box{
	width: 100%;
	display: inline-block;
}
.index-title-box img{
	display: block;
	float: left;
	width: 1.64rem;
	margin-top: 0.1rem;
}
.index-title-box .more{
	float: right;
	color: #237fc5;
	font-size: 0.25rem;
	margin-top: 0.3rem;
}
.index-title-box .more .iconfont{
	color: #237fc5;
	font-size:0.25rem;	
}
.my-product-swiper{
	width: 100%;
	padding-bottom: 0.3rem;
	margin-top: 0.3rem;
}
.my-product-swiper .swiper-slide{
	width: 2.2rem;
	height: 2.94rem;
	border-radius: 10px;
	overflow: hidden;
}
.my-product-swiper .swiper-slide a{
	display: block;
}
.my-product-swiper .swiper-slide img{
	width: 100%;
	height: 2.28rem;
}
.my-product-swiper .swiper-slide .name{
	width: 100%;
	height: 0.66rem;
	line-height: 0.66rem;
	text-align: center;
	color: #ffffff;
	font-size: 0.22rem;
	background: #2b5371;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
}
/*自定义分页期*/
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0px;
    left: 0;
    width: 100%;
}
.product-pagination{position: absolute;bottom: 0rem;text-align: center; z-index: 99;}
.product-pagination .swiper-pagination-bullet{width: 0.08rem; height: 0.08rem; background:#56758d; border-radius:0px;opacity: 1;border-radius: 100%;}
.product-pagination .swiper-pagination-bullet-active{background: #2373b0;}

.my-navibar-bottom{
	background: #0d3b5d;
	padding-bottom: 0.4rem;
}
.navibar-bottom-List{
	width: 100%;
	display: inline-block;
	margin-top: 0.1rem;
}
.navibar-bottom-List li{
	float: left;
	width: 3.37rem;
	height: 1.2rem;
	border: 1px solid #4a6c85;
	border-radius: 10px;
	margin-top: 0.2rem;
}
.navibar-bottom-List li:not(:nth-child(2n)){
	margin-right: 0.31rem;
}
.navibar-bottom-img{
	float: left;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
	margin-left: 0.2rem;
	margin-top: 0.15rem;
}
.navibar-bottom-List li .title{
	float: left;
	color: #909ca9;
	font-size: 0.3rem;
	margin-left: 0.25rem;
	margin-top: 0.45rem;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
}

.my-news{
	width:100%;
	background: #003054;
	font-size: 0;
	padding-bottom: 0.3rem;
}
.my-news-swiper{
	width: 100%;
	margin-top: 0.3rem;
}
.my-news-swiper .swiper-slide{
	width: 4.16rem;
	height: 4.13rem;
	border-radius: 10px;
	overflow: hidden;
}
.my-news-swiper .swiper-slide a{
	display: block;
}
.my-news-swiper .swiper-slide img{
	width: 100%;
	height: 3.15rem;
}

.my-news-swiper .swiper-slide .content{
	width: 100%;
	height: 0.98rem;
	background: #144061;
	text-align: left;
	padding:0 0.1rem;
}
.my-news-swiper .swiper-slide .title{
	color: #c1c3c6;
	font-size: 0.27rem; 
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	padding-top: 0.1rem;
}
.my-news-swiper .swiper-slide .time{
	color: #888b8d;
	font-size: 0.23rem; 
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	padding-top: 0.1rem;
}



/*关于我们*/
.main-content{
	width: 100%;
	display: inline-block;
	padding-bottom: 0.7rem;
}
.main-top-box{
	width: 100%;
	font-size: 0;
}
.my-top-box{
	width: 100%;
	height: 0.8rem;
	background: #003054;
	text-align: center;
}
.top-tiltle-box{
    display: inline-block;
    margin-top: 0.2rem;
}
.top-tiltle-box .left-line{
	float: left;
	width: 2rem;
	height: 0.02rem;
	margin-top:0.2rem;
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0px, rgba(255,255,255,0.5) 2rem);
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0px, rgba(255,255,255,0.5) 2rem);
	/* Opera 11.10+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0px, rgba(255,255,255,0.5) 2rem); 
}
.top-tiltle-box .title{
	float: left;
	color: #ffffff;
	font-size: 0.35rem;
	margin: 0 0.1rem;
	font-weight: bold;
}
.top-tiltle-box .right-line{
	float: left;
	width: 2rem;
	height: 0.02rem;
	margin-top: 0.2rem;
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(right, rgba(255,255,255,0) 0px, rgba(255,255,255,0.5) 2rem);
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(right, rgba(255,255,255,0) 0px, rgba(255,255,255,0.5) 2rem);
	/* Opera 11.10+ */
	background: -o-linear-gradient(right, rgba(255,255,255,0) 0px, rgba(255,255,255,0.5) 2rem); 
}
.my-bottom-box{
	width: 100%;
	height: 0.7rem;
	background: #0d3b5d;
	text-align: center;
}
.tabbar-List{
	display: inline-block;
	margin-top: 0.15rem;
}
.tabbar-List li{
	width: 2.3rem;
	height: 0.3rem;
	line-height: 0.3rem;
	float: left;
	font-size: 0.25rem;
}
.tabbar-List li a{
	color: #b2b6bc;
}
.tabbar-List li:not(:last-child){
	border-right: 1px solid #c8cacc;
}
.tabbar-List .line{
	width: 80%;
	height: 1px;
	margin: 0 auto;
	margin-top: 0.15rem;
	background: rgba(0,0,0,0);
}
.tabbar-List li.active a{
    color:#ffffff;
}
.tabbar-List li.active .line{
    background: #b9a100;
}

.main-img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 0.7rem;
}

/*产品中心*/
.product{
  width: 100%;	
  font-size: 0;
  padding-bottom: 0.8rem;
}
.line-topSpce{
  width: 100%;	
  height: 50px;
  background: #0d3b5d;
  border-top: 1px solid #2a5371;
}

.product-List{
	display: inline-block;
	width: 100%;
}
.product-List li{
	padding: 0 0.25rem;
	width: 100%;
	height: 4.8rem;
	text-align: left;
	background: #002745;
}

.product-List li:not(:first-child){
	margin-top: 0.35rem;
}
.product-List li .type{
	color: #ffffff;
	font-size: 0.3rem;
	font-weight: normal;
	padding-top: 0.25rem;
}
.product-List li a{
	display: block;
}
.product-List li .content{
	width: 100%;
	height: 3.58rem;
	border-radius: 0.1rem;
	margin-top: 0.2rem;
	position: relative;
}
.product-List li .content .cover{
	width: 100%;
	height: 1.15rem;
	background: rgba(32,55,105,0.4);
	position: absolute;
	left: 0;
	bottom: 0;
}
.product-List li .content .cover .description{
	width: 100%;
	height: 1.15rem;
	color: #ffffff;
	font-size:0.25rem;
	padding-top: 0.3rem;
	text-align: center;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
}
.product-List li .content .cover .more{
	width: 1.6rem;
	height: 0.48rem;
	line-height: 0.48rem;
	text-align: center;
	color: #d2d2d2;
	font-size:0.22rem;
	text-align: center;
	background: #203769;
	position: absolute;
	left: 50%;
	bottom: -20%;
	margin-left:-0.8rem;
	border-radius: 0.08rem;
}


/*大理石*/
.product-dls{
	display: inline-block;
	width: 100%;
    font-size:0;
    padding: 0.3rem 0.2rem 0 0.2rem;
    border-top: 1px solid #2a5371;
}
.product-dls .my-product-List{
	display: inline-block;
    width: 100%;
}
.product-dls .my-product-List a{
	float: left;
    width: 3.46rem;
    height: 5rem;
    background: #002745;
    margin-top: 0.25rem;
    padding: 0 0.1rem;
}
.product-dls .my-product-List a:not(:nth-child(2n)){
	margin-right: 0.18rem;
}
.product-dls .my-product-List li .spec{
	color: #ffffff;
	width: 100%;
	font-size: 0.3rem;
	text-align: left;
	padding:0.2rem 0 0.1rem 0;
}
.product-dls .my-product-List span{
	width:3.26rem;
    height: 3.26rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.product-dls .my-product-List span img{
	max-width: 100%;
    max-height: 100%;
}
.product-dls .my-product-List .size{
	text-align: center;
	color: #b1b1b1;
	font-size: 0.25rem;
	padding-top: 0.15rem;
}
.product-dls .my-product-List .more{
	text-align: center;
	color: #1b639a;
	font-size: 0.23rem;
	padding-top: 0.15rem;
}

/*大理石详情*/
.prodls-detail{
	display: inline-block;
	width: 100%;
	font-size: 0;
}
.prodls-detail .pro-info{
	display: inline-block;
	width: 100%;
	background: #002745;
	padding:0.35rem;
}
.prodls-detail .pro-info .title{
	color: #ffffff;
	font-size: 0.35rem;
	text-align: center;
}
.prodls-detail .pro-info .main-img{
	margin-top: 0.25rem;
}

.dlsinfo-List{
	display: inline-block;
	width: 100%;
	margin-top: 0.4rem;
}

.dlsinfo-List li{
	width: 100%;
	line-height: 0.5rem;
	font-size: 0.25rem;
	color: #c5c9ce;
	border-bottom: 1px solid #737576;
}
.dlsinfo-List li span{
	color: #ffffff;
	font-weight: bold;
}

.prodls-detail .room-info{
	display: inline-block;
	width: 100%;
	background: #0d3b5d;
	padding:0 0.35rem 0.55rem 0.35rem;
	text-align: center;
}
.my-detail-title{
	color: #ffffff;
	font-size: 0.25rem;
	line-height: 0.3rem;
	margin-top: 0.35rem;
	text-align: left;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	
}
.room-info .main-img{
	margin-top: 0.2rem;
}
.room-info .dingping{
	color: #ffffff;
	font-size: 0.23rem;
	line-height: 0.45rem;
	text-align: left;
	text-indent: 0.5rem;
	padding-top: 0.2rem;
}
.my-page{
	display: inline-block;
	margin-top: 0.85rem;
}
.my-page li{
	float: left;
	width: 1.65rem;
	height: 0.55rem;
	color: #ffffff;
	font-size: 0.25rem;
	line-height: 0.55rem;
	text-align: center;
	border: 1px solid #b56c20;
}
.my-page li a{
	display: block;
    color: #ffffff;
}
.my-page li:not(:first-child){
	margin-left: 0.3rem;
}



/*瓷片*/
.my-top-size-box{
	width: 100%;
	height: 1.06rem;
	border-top: 1px solid #2a5371;
	padding: 0 0.4rem;
}
.my-top-size-box .my-top-size{
	width: 2.15rem;
	height: 0.55rem;
	line-height: 0.55rem;
	text-align: center;
	color: #ffffff;
	font-size: 0.27rem;
	background: #185787;
	margin-top: 0.22rem;
	border: 1px solid #61543e;
}

.product-cipian{
	display: inline-block;
	width: 100%;
    font-size:0;
}
.product-cipian .my-product-List{
	display: inline-block;
    width: 100%;
}
.product-cipian .my-product-List a{
	float: left;
    width:100%;
    background: #002745;
    margin-top: 0.15rem;
    padding: 0.2rem 0.4rem;
}
.product-cipian .my-product-List li .spec{
	color: #ffffff;
	width: 100%;
	font-size: 0.3rem;
	text-align: left;
	padding-bottom:0.1rem;
}
.product-cipian .my-product-List span{
	width:6.7rem;
    height: 3.32rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.product-cipian .my-product-List span img{
	max-width: 100%;
    max-height: 100%;
}
.product-cipian .my-product-List .size{
	text-align: center;
	color: #b1b1b1;
	font-size: 0.25rem;
	padding-top: 0.15rem;
}
.product-cipian .my-product-List .more{
	text-align: center;
	color: #1b639a;
	font-size: 0.23rem;
	padding-top: 0.15rem;
}


/*瓷片详情*/
.cipian-content{
	display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0;
    padding: 0 0.25rem 0.55rem 0.25rem;
}

.detail-group{
	display: inline-block;
    width: 100%;
    margin-top: 0.3rem;
}
.parts-List{
	display: inline-block;
    width: 100%;
}
.parts-List li:first-child{
	margin-top: 0rem;
}

.cipian-content .main-img{
	margin-top: 0.15rem;
}
.cipian-content .cipian-info{
	display: inline-block;
	color: #ffffff;
	font-size: 0.25rem;
	line-height: 0.4rem;
}
.cipian-content .cipian-info .spec{
	float: left;
}
.cipian-content .cipian-info .size{
	margin-left: 0.55rem;
	float: left;
}
.cipian-content .my-detail-title{
	margin-top: 0.65rem;
}

/*瓷片详情*/
.news{
	display: inline-block;
    width: 100%;
}

.news-List{
	display: inline-block;
    width: 100%;
    margin-top: 0.4rem;
}
.news-List li{
	display: inline-block;
	width: 100%;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #516d82;
	margin-top: 0.2rem;
}
.news-List li a{
	display: inline-block;
}
.news-List li img{
	float: left;
	width: 2.36rem;
	height: 1.48rem;
}
.news-List li .content{
	float: left;
	width: 4.4rem;
	padding-left: 0.15rem;
}
.news-List li .content .title{
	color: #dcdcdc;
	font-size: 0.23rem;
	padding-top: 0.15rem;
	line-height: 0.25rem;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
}
.news-List li .content .time{
	color: #929292;
	font-size: 0.2rem;
	padding-top: 0.15rem;
}
.news-List li .content .more{
	color: #2477b6;
	font-size: 0.23rem;
	padding-top: 0.3rem;
}


.news-page-box{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 0.6rem 0;
}
.news-page{
	display: inline-block;
}
.news-page a{
	float: left;
	color: #ffffff;
	font-size: 0.3rem;
}
.news-page .prev-btn{
	margin-left: 0.5rem;
}


/*工程案例*/
.project-List{
	display: inline-block;
	width: 100%;
	margin-top: 0.4rem;
}
.project-List li{
	float: left;
	margin-top: 0.3rem;
}
.project-List li:not(:nth-child(2n)){
	margin-right: 0.51rem;
}
.project-List li .project-img{
	width: 3.27rem;
	height: 3.27rem;
	border-radius: 0.1rem;
}
.project-List li .name{
	color: #ffffff;
	font-size: 0.3rem;
	padding-top: 0.15rem;
	text-align: center;
}


/*联系我们*/
.contact{
	text-align: center;
	padding-bottom: 0.8rem;
}
.contact .code-img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 0.65rem;
}
.contact .map-img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 0.15rem;
}

.adviceBtn{
	display: block;
	width: 3.65rem;
	height: 0.8rem;
	line-height: 0.8rem;
	color: #ffffff;
	font-size: 0.2rem;
	text-align: center;
	background: #286897;
    margin: 0 auto;
    border-radius: 0.1rem;
    margin-top: 0.5rem;
}

/*意见反馈*/
.advice{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.my-advice{
	display: inline-block;
	width: 6rem;
	font-size: 0;
	text-align: left;
	margin-top: 30px;
}
.advice-group{
	display: inline-block;
	margin-top: 20px;
}
.advice-group .advice-label{
	color: #ababab;
	font-size: 0.2rem;
	width: 1rem;
	height: 40px;
	line-height: 40px;
	float: left;
	font-weight: bold;
	text-align: right;
	padding-right: 0.2rem;
}
.advice-group .advice-input{
	width: 5rem;
	height: 40px;
	line-height: 40px;
	float: left;
	border: 1px solid #C2C2C2;
	border-radius: 5px;
	font-size: 0.2rem;
	padding-left: 0.1rem;
}
.advice-group .advice-textarea{
	width: 5rem;
	height: 100px;
	float: left;
	font-size: 0.2rem;
	padding-left: 0.1rem;
}
.yzm-group{
	width: 4.5rem;
	height: 40px;
	float: left;
}
.yzm-group.yzm-input{
	width:40%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #C2C2C2;
	border-radius: 5px;
	font-size: 0.2rem;
	padding-left: 0.1rem;
	float: left;
}
.yzm-img{
	float: left;
	width: 55%;
	height: 40px;
	margin-left: 5%
}
.advice-submit{
	display: block;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 0.2rem;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 0.4rem;
	color: #ffffff;
	background: #d9534f;
	border: 1px solid #d9534f;
	border-radius: 5px;
}






.am-figure-zoomable:after{
	display: none;
}
.footer{
	width: 100%;
	height: 1rem;
	background: #151515;
	position: fixed;
	bottom: 0;
	z-index: 999;
}
.footer .footNaviList{
	width: 100%;
	height: 100%;
}
.footer .footNaviList li a{
	float: left;
	width: 20%;
	height: 1rem;
	text-align: center;
	color: #bfe3ff;
	font-size: 0.2rem;	
	cursor: pointer;
	padding-top: 0.1rem;
}
.footer .footNaviList li.active a{
    color: #ffffff;	
}
.footer .footNaviList li .iconfont{
	font-size: 0.5rem;
}
.footer .footNaviList li .name{
	padding-top: 0.05rem;
}

.whiteSpace{
	width: 100%;
	height: 1rem;
	background: #0d3b5d;
}




@media (min-width: 320px){html{font-size: 42.7px;}}
@media (min-width: 360px){html{font-size: 48px;}}
@media (min-width: 375px){html{font-size: 50px;}}
@media (min-width: 384px){html{font-size: 51.1px;}}
@media (min-width: 412px){html{font-size: 54.8px;}}
@media (min-width: 414px){html{font-size: 55px;}}
@media (min-width: 448px){html{font-size: 59.6px;}}
@media (min-width: 480px){html{font-size: 63.8px;}}
@media (min-width: 512px){html{font-size: 68px;}}
@media (min-width: 544px){html{font-size: 72.4px;}}
@media (min-width: 576px){html{font-size: 76.6px;}}
@media (min-width: 608px){html{font-size: 80.9px;}}
@media (min-width: 640px){html{font-size: 85.1px;}}
@media (min-width: 750px){html{font-size: 100px;}}
@media (min-width: 800px){html{font-size: 106.5px;}}
@media (min-width: 1024px){html{font-size: 136.5px;}}