html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
	font-size: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
img { 
	border-style: none; 
}
input{
	outline: none;
}
.none {
	display: none;
}
.sm-visible {
	display: none;
}
.clearfix:after {
	content:".";  
	height:0;  
	visibility:hidden;  
	display:block;  
	clear:both;  
}
.clearMarg:before {
	content:".";  
	height:0;  
	visibility:hidden;  
	display:block;  
}
/*取消放大图标*/
.am-figure-zoomable:after{
	display: none;
}

/** 分页*/
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
	font-size: 0.2rem;
  }
  .pagination > li {
	display: inline;
   
  }
  .pagination > li > a,
  .pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #000;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #000;
	margin: 5px;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
  }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
  }

  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #000;
	border-color: #000;
  }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
  }

/** 分页结束 **/


.main-container{
	width: 7rem;
	margin: 0 auto;
	font-size: 0;
}
.info-container{
	width: 7rem;
	margin: 0 auto;
	font-size: 0;
	padding: 0.5rem 0;
}
.main-img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.main-line{
	width: 100%;
	height: 1px;
	background: #cccccc;
	margin-top: 0.4rem;
}
.page-container{
	width: 7rem;
	margin: 0 auto;
	font-size: 0;
	min-height: 9rem;
	padding: 0.6rem 0;
}
.page-content{
	width: 7rem;
	margin: 0 auto;
	font-size: 0;
	min-height: 5rem;
	padding: 0.5rem 0;
}
.page-container .text-content p{
	color: #5d5d5d;
	font-size: 0.3rem;
	line-height: 0.6rem;
	text-indent: 0.68rem;
	margin-top: 0.6rem;
}
.page-container .about-text-content{
	display: inline-block;
	width: 100%;
	padding: 0.4rem 0.35rem;
	background: #ffffff;
	box-shadow: 0 0 0.05rem rgba(0,0,0,0.3);
	margin-top: 0.2rem;
}
.page-container .about-text-content h2{
	color: #000000;
	font-size: 0.35rem;
}
.page-container .about-text-content p{
	color: #585858;
	font-size: 0.3rem;
	margin-top: 0.25rem;
	line-height: 1.3;
}
.page-container .text-content .sign{
	color: #666666;
	font-size: 0.25rem;
	line-height: 0.35rem;
    text-align: right;
    margin-top: 0.35rem;
}
.page-container .resources-content h3{
	color: #000000;
	font-size: 0.4rem;
	margin-top: 30px;
	font-weight: 500;
}
.page-container .resources-content p{
	color: #000000;
	font-size: 0.3rem;
	line-height: 0.4rem;
	margin-top: 0.2rem;
}
.page-container .resources-content p:nth-child(2){
	margin-top: 0.35rem;
}


/*首页更多开始*/
.index-more{
	display: block;
	width: 1.8rem;
	height: 0.5rem;
	line-height: 0.48rem;
	text-align: center;
	color: #d6a05e;
	font-size: 0.26rem;
	margin-top: 0.3rem;
	border: 1px solid #d6a05e;
}
.index-more a{
	color: #d6a05e;
}
/*首页更多结束*/

/*首页标题开始*/
.my-title-box{
	display: inline-block;
	width: 100%;
	padding: 0.35rem 0;
	text-align: center;
}
.my-title-box .title{
	color: #313131;
	font-size: 0.5rem;
	font-weight: 500;
}
.my-title-box .title span{
	color: #7e7e7e;
	font-size: 0.36rem;
	margin-left: 0.3rem;
}
.my-title-box .title-en{
	color: #170b07;
	font-size: 0.28rem;
}
.my-title-box .my-title-content{
	display: inline-block;
}
.my-title-box .title-cn{
	float: left;
	color: #514e49;
	font-size: 0.36rem;
	font-weight: 700;
	margin: 0 0.15;
}
.my-title-box .sign{
	float: left;
	color: #f7ad08;
	font-size: 0.4rem;
	font-weight: normal;
}
.my-title-box .left-sign{
    margin-top: 1px;
}
.my-title-box .right-sign{
    transform: rotate(180deg);
    margin-top: -1px;
}
.my-title-box .line{
	float: left;
	width: 90px;
	height: 1px;
	background: #b1b1b1;
	margin-top: 0.12rem;
}
/*首页标题结束*/

/*内页顶部标题开始*/
.inside-top-title{
	width: 100%;
	height: 1rem;
	font-size: 0;
	text-align: center;
	overflow: hidden;
    box-shadow: 0 4px 9px rgba(0,0,0,0.16);
}
.inside-top-title .title-en{
	color: #a4a4a4;
	font-size: 0.3rem;
	margin-top: 0.15rem;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	
}
.inside-top-title .title-cn{
	color: #000000;
	font-size: 0.36rem;
	line-height: 0.4rem;
	margin-top: 0.08rem;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
}
.inside-top-title-cn{
	width: 100%;
	height: 0.7rem;
	line-height: 0.7rem;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	text-align: center;
	color: #56ad38;
	font-size: 0.4rem;
	background: #e6dec6;
}
/*内页顶部标题结束*/


/*内页选项开始*/
.inside-tabbar-swiper{
	display: inline-block;
	width: 100%;
    border-bottom: 1px solid #e4e1de;
}
.inside-tabbar-swiper .swiper-slide{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding:0.25rem 0;
}
.inside-tabbar-swiper .swiper-slide a{
	display: block;
	width: 100%;
	color: #5f604b;
	font-size: 0.32rem;
	position: relative;
	 border-right: 1px solid #cac7c1;
}
.inside-tabbar-swiper .swiper-slide.active a,.inside-tabbar-swiper .swiper-slide:hover a{
	color: #f7ab00;
}
.inside-tabbar-swiper .swiper-slide:last-child a {
   border-right: 1px solid rgba(0,0,0,0);
}
.inside-tabbar-swiper .swiper-slide .sign{
	position: absolute;
	top: 0.05rem;
	right: 0;
	color: #5f604b;
	font-size: 0.3rem;
}
/*内页选项结束*/

/*规格选项开始*/
.size-tabbar-swiper{
	display: inline-block;
	width: 100%;
	background: #d3d99f;
}
.size-tabbar-swiper .swiper-slide{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding:0.25rem 0;
}
.size-tabbar-swiper .swiper-slide a{
	display: block;
	width: 100%;
	color: #ffffff;
	font-size: 0.3rem;
	position: relative;
}
.size-tabbar-swiper .swiper-slide.active a,.size-tabbar-swiper .swiper-slide:hover a{
	color: #000000;
}
/*规格选项结束*/

/*内页标题背景开始*/
.inside-title-bg{
	width: 100%;
	margin: 0 auto;
}
.inside-title-bg-img{
	display: block;
	width: 100%;
}
/*内页标题背景结束*/

/*内页线开始*/
.inside-line{
	width: 100%;
	height: 1px;
	background: #cccccc;
}
/*内页线结束*/

/*内页顶部标题开始*/
.inside-top-title-box{
	width: 100%;
	text-align: center;
	margin-top: 0.5rem;
}
.inside-top-title-box .content{
	display: inline-block;
}
.inside-top-title-box .content .line{
	float: left;
	width: 1rem;
	height: 1px;
	margin-top: 0.22rem;
	background: #000000;
}
.inside-top-title-box .title-cn{
	float: left;
	color: #000000;
	font-size: 0.4rem;
	margin:0 0.25rem;
}
.inside-top-title-box .title-en{
	color: #8d8d8d;
	font-size: 0.23rem;
	margin-top: 0.1rem;
}
/*内页顶部标题结束*/

/*内页选项开始*/
.inside-bar{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}
.inside-tabbar{
	display: inline-block;
	width: 7rem;
    padding: 0.2rem 0 0.4rem 0;
}
.inside-tabbar li{
	float: left;
	width: 25%;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	margin-top: 0.2rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	border-right: 1px solid #000000;
}
.inside-tabbar li:nth-child(4n),.inside-tabbar li:last-child{
	border-right: 1px solid rgba(0,0,0,0);
}

.inside-tabbar li a{
	color: #000000;
	font-size: 0.3rem;
}
.inside-tabbar li.active a,.inside-tabbar li:hover a{
	color: #d6a05e;
}
/*内页选项结束*/

/*内页分类选项swiper开始*/
.inside-type-swiper{
	width: 7rem;
	margin: 0 auto;
	margin-top: 0.4rem;
}
.inside-type-swiper .swiper-slide a{
	display: inline-block;
}
.inside-type-swiper .swiper-slide a .name{
	display: inline-block;
	height: 0.4rem;
	line-height: 0.4rem;
	padding: 0 0.2rem;
	text-align: center;
	color: #000000;
	font-size: 0.3rem;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.inside-type-swiper .swiper-slide.active a .name{
	color: #d6a05e;
}
.inside-type-swiper .swiper-slide:not(:first-child) a{
	border-left: 1px solid #000000;
}
/*内页分类选项swiper结束*/

/*分类选项选项swiper开始*/
.type-tabbar-swiper{
	display: inline-block;
	width: 100%;
	background: #f2f2f2;
}
.type-tabbar-swiper .swiper-slide a{
	display: inline-block;
}
.type-tabbar-swiper .swiper-slide a .name{
	display: inline-block;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	color: #000000;
	font-size: 0.3rem;
	padding: 0 0.2rem;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.type-tabbar-swiper .swiper-slide.active a .name,.type-tabbar-swiper .swiper-slide:hover a .name{
   color: #ffffff;
   background: #d6a05e;
}
/*分类选项选项swiper结束*/

/*内页标题开始*/
.inside-title-box{
	display: inline-block;
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: left;
	background: #f2f2f2;
}
.inside-title-box .title-cn{
	color: #d6a05e;
	font-size: 0.33rem;
	margin-left: 0.3rem;
}
.inside-title-box .title-en{
	color: #ae0c17;
	font-size: 0.25rem;
	margin-top: 0.1rem;
	padding-bottom: 0.1rem;
	border-bottom: 1px solid #256409;
}
.inside-title-box .inside-title{
	display: inline-block;
	width: 100%;
}
.inside-title-box .inside-title .line{
	float: left;
	width: 1rem;
	height: 1px;
	background: #d2d2d2;
	margin-top: 0.32rem;
}
.inside-title-box .inside-title .title{
	float: left;
	color: #000000;
	font-size: 0.3rem;
	margin: 0 0.15rem;
	margin-top: 0.17rem;
}
.inside-title-box .inside-title .title span{
	color: #848484;
	font-size: 0.28rem;
}
/*内页标题结束*/

/*导航栏开始*/
.my-side-bar{
	width: 100%;
}

.sidebar-navbar{
	display: inline-block;
	width: 100%;
	box-shadow: 0 0 0.1rem rgba(0,0,0,0.7);
}
.sidebar-navbar .one-li{
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.sidebar-navbar .one-Item{
	display: block;
	width: 100%;
	height: 0.85rem;
	line-height: 0.85rem;
	color: #000000;
	font-size: 0.32rem;
	background: #ffffff;
	position: relative;
}
.sidebar-navbar .one-Item .name{
    float: left;
    width: 6.4rem;
	height: 0.85rem;
	line-height: 0.85rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: normal;
	margin:0 0.3rem;
	padding-left: 0.15rem;
	border-bottom: 1px solid #cccccc;
}
.sidebar-navbar .one-Item .sign{
    position: absolute;
    top: 0px;
    right: 0.3rem;
    color: #7e7e7e;
    font-size: 0.4rem;
    transform:rotate(0deg);
}
.sidebar-navbar .two-navbar{
   display: none;
}
.sidebar-navbar .two-navbar .two-li{
    display: inline-block;
	width: 100%;
}
.two-navbar .two-Item{
	display: block;
	width: 100%;
	height: 0.75rem;
	line-height: 0.75rem;
	color: #666666;
	font-size: 0.35rem;
	background: #ffffff;
	position: relative;
}
.sidebar-navbar .two-Item .name{
    float: left;
    width: 6.4rem;
	height: 0.75rem;
	line-height: 0.75rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 0.3rem;
	padding-left: 0.3rem;
	border-bottom: 1px solid #cccccc;
}
.sidebar-navbar .two-Item .sign{
    position: absolute;
    top: 0px;
    right: 0.3rem;
    color: #7e7e7e;
    font-size: 0.4rem;
    transform:rotate(0deg);
}

.sidebar-navbar .three-navbar{
   display: none;
}
.sidebar-navbar .three-Item{
	display: block;
	width: 100%;
	height: 0.7rem;
	line-height: 0.7rem;
	color: #a9a9a9;
	font-size: 0.28rem;
	background: #ffffff;
	position: relative;
}
.sidebar-navbar .three-Item .name{
    float: left;
    width: 6.4rem;
	height: 0.7rem;
	line-height: 0.7rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 0.3rem;
	padding-left: 40px;
	border-bottom: 1px solid #cccccc;
}

.sidebar-navbar .one-li:last-child .one-Item .name{
	border-bottom: 1px solid rgba(0,0,0,0);
}

.sidebar-navbar .one-Item:hover,.sidebar-navbar .one-Item.active{
	color:#f7ab00;
}
.two-navbar .two-Item:hover .name,.sidebar-navbar .two-Item.active .name{
	border-bottom: 1px solid #f7ab00;
}
.three-navbar .three-Item:hover .name,.three-navbar .three-Item.active .name{
	background: #f7ab00;
	color: #ffffff;
}
/*导航栏结束*/


/*内页内容标题开始*/
.inside-title{
	width: 100%;
	height: 0.6rem;
	line-height: 0.58rem;
	color: #ffffff;
	font-size: 0.3rem;
    background: #f7ab00;
	padding-left: 0.25rem;
	text-align: left;

}
.inside-title span{
	color: #f2f2f2;
	font-size: 0.25rem;
}
/*内页内容标题结束*/


/*多面开始*/
.duomian{
	display: inline-block;
	width: 100%;
	margin-top: 0.4rem;
	text-align: center;
}
.duomian-List{
	display: inline-block;
    width: 6rem;
    margin-top: 0.3rem;
}
.duomian-List li{
	float: left;
	width: 1.96rem;
	margin-top: 0.03rem;
}
.duomian-List li .duomian-img{
	display: block;
	width: 100%;
}
.duomian-List li:not(:nth-child(3n)){
	margin-right: 0.05rem;
}
.duomian .duomian-title{
	display: inline-block;
	width: 100%;
	color: #000000;
	font-size: 0.3rem;
	margin-top: 0.25rem;
}
/*多面结束*/


/*配件开始*/
.peijian{
	display: inline-block;
	width: 100%;
	margin-top: 0.5rem;
	text-align: center;
}
.peijian-List{
	display: inline-block;
	width: 6rem;
}
.peijian-List li{
    display: inline-block;
	width: 100%;
	margin-top:0.35rem;
}
.peijian-List li .peijian-img{
	display: block;
	width: 100%;
}
.peijian-List li .content{
    display: inline-block;
    width: 100%;
    margin-top: 0.1rem;
}
.peijian-List li .content .name{ 
	float: left;
    color: #676767;
    font-size: 0.3rem;
}
.peijian-List li .content .size{ 
	float: right;
    color: #676767;
    font-size: 0.3rem;
}
/*配件结束*/

/*空间应用开始*/
.room{
	display: inline-block;
	width: 100%;
	margin-top: 0.6rem;
}
.img-content{
	display: inline-block;
	padding: 0.25rem;
	background: #eee8d6;
    margin-top: 0.4rem;
}
.room-img{
	display: block;
	width: 6rem;
	margin: 0 auto;
	margin-top: 0.5rem;
}
/*空间应用结束*/
/*空间应用画廊开始*/
.room-gallery{
	display: inline-block;
	width: 100%;
	position: relative;
	height: 5rem;
	margin-top: 0.3rem;
}
.room-gallery .room-gallery-swiper{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.room-gallery .room-gallery-swiper figure{
	width: 100%;
	height: 100%;
}
.room-gallery .room-gallery-swiper .swiper-slide{
	width: 100%;
	height: 100%;
	position: relative;
}
.room-gallery .room-gallery-swiper .swiper-slide .show-room-img{
	display: block;
	width: 100%;
	height: 100%;
}
.room-gallery .room-gallery-swiper .swiper-slide .cover{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: left;
	background: rgba(0,0,0,0.2);
}
.room-gallery .room-gallery-swiper .swiper-slide .cover .name{
	float: left;
	color: #ffffff;
	font-size: 0.3rem;
	margin-left: 0.2rem;
}
.room-gallery .page-Btn{
	width: 0.81rem;
	height: 1.37rem;
	position: absolute;
	top: 50%;
	margin-top: -0.685rem;
	z-index: 99;
	cursor: pointer;
}
.room-gallery .prev-Btn{
	left: 0;
}
.room-gallery .next-Btn{
	right: 0;
}
/*空间应用画廊结束*/


/*意见反馈开始*/
.advice{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.my-advice{
	display: inline-block;
	width: 6rem;
	font-size: 0;
	text-align: left;
}
.advice-group{
	display: inline-block;
	margin-top: 0.2rem;
}
.advice-group .advice-label{
	color: #000000;
	font-size: 0.25rem;
	width: 1rem;
	height: 0.6rem;
	line-height: 0.6rem;
	float: left;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}
.advice-group .advice-input{
	width: 5rem;
	height: 0.6rem;
	line-height: 0.6rem;
	float: left;
	border: 1px solid #C2C2C2;
	border-radius: 5px;
	font-size: 0.25rem;
	padding-left: 5px;
}
.advice-group .advice-textarea{
	width: 5rem;
	height: 2rem;
	float: left;
	font-size: 0.25rem;
	padding-left: 0.1rem;
}
.yzm-group{
	width: 5rem;
	height: 0.6rem;
	float: left;
}
.yzm-group .yzm-input{
	width:2rem;
	height: 0.6rem;
	line-height: 0.6rem;
	border: 1px solid #C2C2C2;
	border-radius: 5px;
	font-size: 14px;
	padding-left: 10px;
	float: left;
}
.yzm-img{
	float: left;
	width: 2.5rem;
	height: 0.6rem;
	margin-left: 0.1rem;
	border-radius: 0.05rem;
	border: 1px solid #c8c8c8;
}
.advice-submit{
	display: block;
	width: 1.2rem;
	height: 0.6rem;
	line-height: 0.5rem;
	text-align: center;
	font-size: 0.3rem;
	margin-left: 2.5rem;
	margin-top: 0.6rem;
	margin-bottom: 0.4rem;
	color: #ffffff;
	background: #d9534f;
	border: 1px solid #d9534f;
	border-radius: 0.05rem;
}
/*意见反馈结束*/

/*详情翻页开始*/
.info-page{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 0.5rem;
}
.info-page-List{
	display: inline-block;
}
.info-page-List li{
	float: left;
    color: #000000;
	font-size: 0.3rem;
}
.info-page-List li span{
	margin-left: 0.3rem;
}
.info-page-List li:not(:first-child){
	margin-left: 0.3rem;
}
.info-page-List li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #858585;
}
/*详情翻页结束*/


/*头部*/
.header{
	display: inline-block;
	width: 100%;
	position: fixed;
	font-size: 0;
	z-index: 100;
}
.header-top{
	width: 100%;
	height:1rem;
	background: #ffffff;
	position: relative;
}
.top-whiteSpace{
	width: 100%;
	height: 1rem;
}
.header .logo{
	width: 2.93rem;
	height: 0.8rem;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.4rem;
    margin-left: -1.465rem;	
}
.header .logo img{
	display: block;
	width: 100%;
	height: 100%;	
}
/*自定义工具栏*/
.header .menu-Btn{
	color: #d6a05e;
	font-size: 0.6rem;
    position: absolute;
    top: 0.23rem;
}
.header .search-Btn{
	color: #f7ab00;
	font-size: 0.42rem;
    position: absolute;
    top: 0.32rem;
}
.menu-left-Btn{
	left: 0.25rem;
}
.menu-right-Btn{
	right:0.25rem
}

/*搜索框开始*/
.serach-bar{
  font-size: 0;
  z-index: 97;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  display: none;
  background: #ffffff;
}
.serach-Form{
	width:90%;
	height: 0.8rem;
    line-height: 0.8rem;
	padding: 0.1rem;
	margin: 0 auto;
}
.serach-bar .search-input{
   width: 80%;
   height: 0.6rem;
   font-size: 0.3rem;
   float: left;
   border: 1px solid #c30000;
}
.serach-bar .serachBtn{
	width:20%;
    height: 0.6rem;
    line-height: 0.63rem;
	font-size: 0.3rem;
	float: left;
	text-align: center;
	background:#c30000 ;
	color: #ffffff;
}
/*搜索框结束*/

/*文本框提示文本的颜色*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #d1d0d0; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #d1d0d0;
}

.header .search-bar .serarchInput:-ms-input-placeholder{
color: #d1d0d0;
}

.header .search-bar .serarchInput::-webkit-input-placeholder{
color: #d1d0d0;
}

/*菜单开始*/
.menu-bar{
	position: absolute;
    z-index: 98; 
    border-bottom: 1px solid grey;
    display: none;
}
.menu-left-bar{
	left: 0; 
	border-right: 1px solid grey;  
}
.menu-right-bar{
	right: 0; 
	border-left: 1px solid grey;
}
.menu-bar li{
	width: 3rem;
    height: 0.7rem;
    line-height: 0.7rem;
	color: black;
    background: white;
    font-size: 0.24rem;
    text-align: center;
}
.menu-bar li a{
	display: block;
	width: 100%;
    height: 100%;
	color: black;
}
.menu-bar li:hover a,.menu-bar li.active a{
	color: white;  
	background: black;
}
/*菜单结束*/


/*底部开始*/
.footer{
	width: 100%;
	height: 1rem;
	background: #2d2d2d;
	position: fixed;
	bottom: 0;
	z-index: 999;
}
.footer .footNaviList{
	width: 100%;
	height: 100%;
}
.footer .footNaviList li{
	float: left;
	width: 20%;
	height: 1rem;
	text-align: center;
	cursor: pointer;
	
}
.footer .footNaviList li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #ffffff;
	font-size: 0.2rem;
	padding-top: 0.13rem;
}
.footer .footNaviList li.active a{
    color: #bb8500;	
}
.footer .footNaviList li .iconfont{
	font-size: 0.45rem;
}
.footer .footNaviList li .name{
	font-size: 0.2rem;
	padding-top: 0.08rem;
}
.footer-whiteSpace{
	width: 100%;
	height: 1rem;
}
/*底部结束*/



/*广告开始*/
.banner img{
	display: block;
	width: 100%;
}
/*自定义分页器*/
.banner .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0.08rem;
    left: 0;
    width: 100%;
}
.banner-pagination{position: absolute;text-align: center; z-index: 99;}
.banner-pagination .swiper-pagination-bullet{width: 0.15rem; height: 0.15rem; background: #b5b5b5;opacity: 1; border-radius:100%;}
.banner-pagination .swiper-pagination-bullet-active{background: #ffffff;}

/*包裹自定义分页器的div的位置等CSS样式*/  

    .banner .swiper-pagination-custom {  
        bottom: 0.1rem;  
        left: 0;  
        width: 100%;  
    }  
    /*自定义分页器的样式，这个你自己想要什么样子自己写*/  
    .banner .swiper-border{
		display: inline-block;
		width: 0.2rem; 
		height: 0.2rem;
		border-radius: 100%;
		border: 1px solid rgba(0,0,0,0);
		margin: 0 0.1rem;
		padding: 0.02rem;
		cursor: pointer;
		opacity: 0.3;  
    }
    .banner .swiper-pagination-customs {  
        width: 100%;  
        height: 100%;  
        display: inline-block;  
        background: #ffffff; 
        border-radius: 100%; 
      
    }  
    /*自定义分页器激活时的样式表现*/  
    .banner .swiper-border-active{
    	opacity: 1;  
    	border: 1px solid #ffffff;
    }

/*广告结束*/

/*首页新品开始*/
.my-newPro{
	display: inline-block;
	width: 100%;
}
.my-newPro-swiper{
	display: inline-block;
	width: 100%;
}
.my-newPro-swiper .swiper-slide a{
	display: block;
	width: 100%;
	height: 100%;
}
.my-newPro-room-img{
	display: block;
	width: 100%;
	height: 5rem;
}
.my-newPro-swiper .content{
	display: inline-block;
	width: 100%;
	padding: 0.3rem;
	background: #f2f2f2;
}
.my-newPro-swiper .content .type{
	color: #5e5e5e;
	font-size: 0.5rem;
	line-height: 1.3;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.my-newPro-swiper .content .my-newPro-img{
	display: block;
	width: 3.5rem;
	height: 3.5rem;
	margin-top: 0.3rem;
}  
.my-newPro-swiper .content .name{
	color: #000000;
	font-size: 0.4rem;
	line-height: 1.3;
	margin-top: 0.15rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 500;
} 
.my-newPro-swiper .content .description{
	color: #000000;
	font-size: 0.3rem;
	line-height: 1.3;
	margin-top: 0.3rem;
	overflow:hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; 
	text-overflow:ellipsis;
} 
/*首页新品结束*/

/*首页空间开始*/
.my-space{
	display: inline-block;
	width: 100%;
}
.my-space-content{
	display: inline-block;
	width: 100%;
	height: 4.5rem;
}
.my-space-content .left{
	float: left;
	width: 60%;
	height: 4.5rem;
	position: relative;
}
.my-space-content .left .name{
	width: 100%;
	height: 4.5rem;
	line-height: 4.5rem;
	position: absolute;
	top: 0;
	left: 0;
	color: #ffffff;
	font-size: 0.5rem;
    text-align: center;
    background: rgba(0,0,0,0.2);
}
.my-space-content .my-space-img{
	display: block;
	width: 100%;
	height: 100%;
}
.my-space-content .right{
	float: left;
	width: 40%;
	height: 4.5rem;
}
.my-space-content .right li{
	width: 100%;
	height: 2.25rem;
	position: relative;
}
.my-space-content .right li .name{
	width: 100%;
	height: 2.25rem;
	line-height: 2.25rem;
	position: absolute;
	top: 0;
	left: 0;
	color: #ffffff;
	font-size: 0.5rem;
    text-align: center;
    background: rgba(0,0,0,0.2);
}
.my-space-content a{
	display: block;
	width: 100%;
	height: 100%;
}
.my-space .index-more{
	margin: 0 auto;
	margin-top: 0.5rem;
}
/*首页空间结束*/


/*首页关于我们开始*/
.my-about{
	display: inline-block;
    width: 100%;
    height: 13.33rem;
	font-size: 0;
	margin-top: 0.4rem;
}
.my-about-container{
	display: inline-block;
	width: 100%;
	height: 7.05rem;
}
.my-about .main-container{
	position: relative;
}
.my-about-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.my-about-content .my-about-img{
	display: block;
	width: 100%;
}
.my-about-content .content{
	display: inline-block;
	width: 100%;
	padding: 0.3rem;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #ffffff;
}
.my-about-content .name{
	color: #000000;
	font-size: 0.4rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.my-about-content .description{
	color: #757575;
	font-size: 0.3rem;
	line-height: 1.3;
	overflow:hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5; 
	text-overflow:ellipsis;
	margin-top: 0.15rem;
}
.my-about-content .title{
	color: #000000;
	font-size: 0.4rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 0.3rem;
}
.my-about-content .question{
	display: block;
	width: 100%;
	color: #343434;
	font-size: 0.3rem;
	line-height: 1.3;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 0.2rem;
}
.my-about-content .question:nth-child(4){
	margin-top: 0.4rem;
}
.my-about-content .index-more{
	margin-top: 0.4rem;
}
/*首页关于我们结束*/

/*底部开始*/
.index-bottom{
	display: inline-block;
	text-align: center;
	background: #333333;
    padding: 0.35rem 0;
}
.index-bottom .company{
	display: inline-block;
	color: #ffffff;
	font-size: 0.32rem;
}
.index-bottom .info-List{
	display: inline-block;
	margin-top: 0.2rem;
}
.index-bottom .info-List li{
	float: left;
	color: #ffffff;
	font-size: 0.28rem;
	padding: 0 0.1rem;
}
.index-bottom .info-List li:not(:last-child){
	border-right: 1px solid #ffffff;
}
/*底部结束*/




/*关于我们开始*/
.about{
	display: inline-block;
	width: 100%;
}
/*关于我们结束*/

/*产品中心开始*/
.product{
	display: inline-block;
	width: 100%;
	font-size: 0;
}
.product-List{
	display: inline-block;
	width:100%;
	margin-top: 10px;
}
.product-List li{
	display: inline-block;
	width: 3.4rem;
	height: 4rem;
	border: 1px solid #cccccc;
	margin-top: 0.4rem;
}
.product-List li:not(:nth-child(2n)){
	margin-right: 0.2rem;
}
.product-List li a{
	display: block;
	width: 100%;
	height: 100%;
}
.product-List li .img-box{
	width: 3.38rem;
	height: 3.38rem;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.product-List li .product-img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}
.product-List li .name{
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	color: #000000;
	font-size: 0.25rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	font-weight: 500;
	padding-left: 0.2rem;
}
.product-List li:hover {
	box-shadow: 2px 4px 10px rgba(0,0,0,0.35);
}
/*产品中心结束*/

/*产品详情开始*/
.product-info{
	display: inline-block;
	width: 100%;
}
.product-info .show-product-box{
	width: 7rem;
	height: 7rem;
    border: 1px solid #cccccc;
	position: relative;
	margin-top: 0.5rem;
}
.product-info .show-product-box .img-box{
	width: 6.98rem;
	height: 6.98rem;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.product-info .show-product{
	max-width: 100%;
	max-height: 100%;
}
.product-info .cover{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	color: #ffffff;
	font-size: 0.3rem;
	background: rgba(0,0,0,0.2);
	padding: 0 0.2rem;
}
.product-info .cover .name{
	float: left;
	max-width: 70%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.product-info .cover .type{
	float: right;
	max-width: 30%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*缩略图画廊开始*/
.pro-gallery{
	display: inline-block;
	width: 100%;
}
.pro-gallery-swiper{
	width: 100%;
	height: 1rem;
	margin-top: 0.4rem;
}
.pro-gallery-swiper .swiper-slide{
	height: 1rem;
	cursor: pointer;
	overflow: hidden;
}
.pro-gallery-swiper .swiper-slide .img-box{
	width:1rem;
	height:1rem;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.pro-gallery-swiper .thumbs-img{
	max-width: 100%;
	max-height: 100%;
}
.pro-gallery .page-Btn{
	float: left;
	width: 0.33rem;
	height: 1rem;
	cursor: pointer;
}
/*缩略图画廊结束*/


.product-info .info-content{
	display: inline-block;
	width: 100%;
	margin-top: 0.4rem;
}
.product-info .info-content .info-title{
	color: #000000;
	font-size: 0.4rem;
	background: #ffffff;
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
}
.product-info  .info-content .info-description{
	color: #585858;
	font-size: 0.3rem;
	line-height: 0.4rem;
	margin-top: 0.4rem;
	overflow:hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; 
	text-overflow:ellipsis;
}
.info-list{
	display: inline-block;
	width: 100%;
	padding: 0.4rem 0;
	margin-top: 0.4rem;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.info-list li{
	display: inline-block;
	width: 100%;
	margin-top: 0.2rem;
}
.info-list li .info-left{
    float: left;
	width: 25%;
	color: #000000;
	font-size: 0.3rem;
	line-height: 0.4rem;
	text-align: left;
}
.info-list li .info-right{
    float: left;
	width: 75%;
	color: #000000;
	font-size: 0.3rem;
	line-height: 0.4rem;
	text-align: left;
}
/*产品详情结束*/

/*新闻开始*/
.news{
	display: inline-block;
	width: 100%;
	padding-bottom: 0.4rem;
}
.show-news{
	display: inline-block;
	width: 100%;
	background: #f2f2f2;
	padding: 0.4rem 0;
}
.show-news-container{
	width: 7rem;
	margin: 0 auto;
	position: relative;
}
.show-news-container .news-img{
	display: block;
	width: 100%;
}
.show-news-container .time{
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(225,225,225,0.9);
}
.show-news-container .time .day{
	color: #585756;
	font-size: 0.75rem;
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-top: 0.07rem;
}
.show-news-container .time .year{
	color: #585756;
	font-size: 0.22rem;
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-top: 0.03rem;
}

.show-news .content{
	display: inline-block;
	width: 100%;
	background: #ffffff;
	box-shadow: 0 0 0.05rem rgba(0,0,0,0.5);
	padding: 0.4rem;
	margin-top: 0.15rem;
}
.show-news .content .title{
	color: #000000;
	font-size: 0.33rem;
	line-height: 1.3;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.show-news .content .description{
	color: #585858;
	font-size: 0.24rem;
	line-height: 1.5;
	text-align: left;
	overflow:hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 7; 
	text-overflow:ellipsis;
	margin-top: 0.25rem;
}
.show-news .content .more{
	width: 1rem;
	height: 0.4rem;
	line-height: 0.38rem;
	color: #d6a05e;
	font-size: 0.22rem;
	text-align: center;
	border: 1px solid #d6a05e;
	margin-top: 0.3rem;
}
.show-news .content .more a{
	color: #d6a05e;
}

.news-container{
	width: 7rem;
	margin: 0 auto;
}
.news-List{
	display: inline-block;
	width: 100%;
}
.news-List li{
	width: 100%;
	height: 2rem;
	border-bottom: 1px solid #cccccc;
}
.news-List li a{
	display: block;
	width: 100%;
	height: 100%;
}
.news-List li .time{
	float: left;
	width: 20%;
	margin-top: 0.4rem;
}
.news-List li .time .day{
	color: #666666;
	font-size: 0.8rem;
	font-weight: bold;
	width: 100%;
	text-align: center;
	padding-left: 0.13rem;
}
.news-List li .time .year{
	color: #666666;
	font-size: 0.25rem;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-top: 0.03rem;
	margin-left: 0.05rem;
}
.news-List li .content{
	float: right;
	width: 75%;
	margin-top: 0.25rem;
}
.news-List li .content .title{
	color: #000000;
	font-size: 0.3rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.news-List li .content .description{
	color: #8f8f8f;
	font-size: 0.25rem;
	line-height: 0.3rem;
	margin-top: 0.2rem;
	overflow:hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; 
	text-overflow:ellipsis;
	
}
.news-List li .content .more{
	color: #d6a05e;
	font-size: 0.24rem;
	margin-top: 0.2rem;
}

.news-List li:hover{
	background: #333333;
}
.news-List li:hover .time .day{
	color: #ffffff;
}
.news-List li:hover .time .year{
	color: #ffffff;
}
.news-List li:hover .content .title{
	color: #ffffff;
}
.news-List li:hover .content .description{
	color: #ffffff;
}
/*新闻结束*/


/*模糊效果*/
.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
/*空间应用开始*/
.space{
	display: inline-block;
	width: 100%;
	padding-bottom: 0.5rem;
}
.space-bg-gallery{
	width: 100%;
	height: 7.5rem;
	position: relative;
}
.space-bg-swiper{
	width: 100%;
	height: 100%;
}
.space-bg-swiper .spaceBg-img{
	display: block;
	width: 100%;
	height: 100%;
}
.space-top-gallery{
	width: 7rem;
	height: 7rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -3.5rem;
	margin-left: -3.5rem;
}
.space-top-swiper{
	width: 100%;
	height: 100%;
	position: relative;
}
.space-top-swiper .spaceTop-img{
	display: block;
	width: 100%;
	height: 100%;
}
.space-top-swiper .page-Btn{
	color: rgba(255,255,255,0.8);
	font-size: 1rem;
	position: absolute;
	top: 50%;
	margin-top: -0.5rem;
	z-index: 99;
}
.space-top-swiper .prev-Btn{
	left: 0;
	transform: rotate(180deg);
}
.space-top-swiper .next-Btn{
	right: 0;
}

.space-bottom-swiper{
	width: 100%;
	height: 1.5rem;
	position: relative;
	margin-top: 0.5rem;
}
.space-bottom-swiper .spaceBttom-img{
	display: block;
	width: 100%;
	height: 100%;
}
.space-bottom-swiper .page-Btn{
	color: rgba(255,255,255,0.8);
	font-size: 1rem;
	position: absolute;
	top: 50%;
	margin-top: -0.5rem;
	z-index: 99;
}
.space-bottom-swiper .prev-Btn{
	left: 0;
	transform: rotate(180deg);
}
.space-bottom-swiper .next-Btn{
	right: 0;
}
/*空间应用结束*/


/*联系我们开始*/
.contact-content{
	display: inline-block;
	width: 100%;
}
.contact-content  .company{
	color: #000000;
	font-size: 0.4rem;
	margin-top: 0.5rem;
}
.contact-content .address{
	float: left;
	width: 100%;
	color: #000000;
	font-size: 0.3rem;
	margin-top: 0.3rem;
}

.map-img{
    display: block;
    max-width: 100%;
	margin: 0 auto;
	border: 1px solid #cccccc;
}
/*联系我们结束*/


/*经销商登录开始*/
.login-bg{
	width: 6rem;
	height: 5.5rem;
	text-align: center;
	margin: 0 auto;
	margin-top: 0.5rem;
}
.login-bg .type{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	color: #fffefe;
	background: #f7ab00;
	font-size: 0.3rem;
	text-align: center;
	font-weight: normal;
}
.login-content-bg{
	display: inline-block;
	width: 100%;
	height: 4.5rem;
	text-align: center;
	background: #ffffff;
}
.login-content-bg .login-form{
	display: inline-block;
	width: 4rem;
}
.login-form .userName{
	display: block;
	width: 4rem;
	height: 0.6rem;
	line-height: 0.58rem;
	border: 1px solid #999999;
	border-radius: 0.05rem;
	padding-left: 0.1rem;
	margin-top: 0.7rem;
	font-size: 0.22rem;
}
.login-form .passWord{
	display: block;
	width: 4rem;
	height: 0.6rem;
	line-height: 0.58rem;
	border: 1px solid #999999;
	border-radius: 0.05rem;
	padding-left: 0.1rem;
	margin-top: 0.3rem;
	font-size: 0.22rem;
}
.login-form .login-Btn{
	float: left;
	width: 4rem;
	height: 0.6rem;
	color: #ffffff;
	font-size: 0.24rem;
	background: #f7ab00;
	border: 1px solid rgba(0,0,0,0);
	margin-top: 0.35rem;
}
.login-form .auto-login-box{
	float: left;
	width: 0.32rem;
	height: 0.32rem;
	border:1px solid #edb625;
	margin-top: 0.3rem;
}
.login-form  .auto-Login-text{
	float: left;
	color: #000000;
	font-size: 0.22rem;
	margin-top: 0.33rem;
	margin-left: 0.1rem;
	font-weight: normal;
}
/*文本框提示文本的颜色*/
.login-form input:-ms-input-placeholder{
color: #9b9b9b;
}
.login-form input::-webkit-input-placeholder{
color: #9b9b9b;
}

/*经销商登录结束*/



/*经销商专区开始*/
.download{
	display: inline-block;
	width: 100%;
	margin-top: -15px;
}
.download-Item{
	display: inline-block;
	width: 100%;
	margin-top: 20px
}
.download .title{
	width: 100%;
	color: #000000;
	font-size: 0.32rem;
	text-align: left;
	/*font-weight: 500;*/
}
.download-List{
	display: inline-block;
	width: 100%;
}
.download-List li{
	display: inline-block;
	width: 100%;
	margin-top: 0.22rem;
	
}
.download-List li .name{
	float: left;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.3rem;
	line-height: 0.4rem;
	
}
.download-List li .name a{
	color: #333333;
}
.download-List li .name:hover a{
	color: #f7ab00;
}
.download-List li .time{
	float: right;
	width: 20%;
	color: #333333;
	font-size: 0.27rem;
	line-height: 0.35rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*经销商专区结束*/


/*经销商专区开始*/
.my-dealers-navbar{
	display: inline-block;
	width: 100%;
	/*margin-top: -0.6rem;*/
}
.my-dealers-navbar .one-li{
	display: inline-block;
	width: 100%;
	font-size: 0;
	overflow: hidden;
	margin-top: 0.4rem;
}
.my-dealers-navbar .one-Item{
    display: inline-block;
    width: 100%;
    position: relative;
}
.my-dealers-navbar .one-Item .type{
    width: 90%;
	height: 0.6rem;
	line-height: 0.6rem;
	color: #ffffff;
	font-size: 0.26rem;
	text-align: center;
	background: #256409;
	font-weight: 500;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 auto;
}
.my-dealers-navbar .one-Item .sign{
   position: absolute;
   top: 0.12rem;
   right: 0.6rem;
   color: #ffffff;
   font-size: 0.32rem;
}


.my-dealers-navbar .my-two-navbar{
   display: none;
   margin-top: 0.2rem;
   
}
.my-dealers-navbar .my-two-navbar .two-li{
   margin-top: 0.2rem;
}
.my-two-navbar .two-Item{
	display: inline-block;
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	color: #000000;
	padding: 0rem 0.32rem;
	border-bottom: 1px solid #c9d9b1;
}
.my-two-navbar .two-Item .name{
	float: left;
	width: 70%;
	color: #000000;
    font-size: 0.3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.my-two-navbar .two-Item .time{
	float: left;
	width: 30%;
	color: #9c9c9c;
	font-size: 0.23rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: right;
	padding-top: 0.02rem;
	
}
.my-three-navbar{
   /*display: none;*/
   width: 100%;
}
.my-three-navbar .three-Item{
	display: block;
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	border-bottom: 1px solid #c9d9b1;
	color: #000000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0rem 0.6rem;
}
.my-three-navbar .three-Item .name{
	color: #000000;
    float: left;
    width: 70%;
	font-size: 0.3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.my-three-navbar .three-Item .time{
	color: #9c9c9c;
    float: right;
    width: 30%;
	font-size: 0.26rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: right;
}

.my-dealers-navbar .one-Item:hover .type,.my-dealers-navbar .one-Item.active .type{
	/*color: #edb625;*/
}
.my-two-navbar .two-Item:hover .name,.my-two-navbar .two-Item.active .name{
	/*color: #f28c00;*/
}
.my-three-navbar .three-Item:hover .name,.my-three-navbar .three-Item.active .name{
	/*color: #dd1820;*/
}
/*经销商专区结束*/




/*联系我们开始*/
.contact-content{
	display: inline-block;
	width: 100%;
}
.contact-content .content{
	float: left;
	width: 5.2rem;
}
.contact-content .content .company{
	color: #000000;
	font-size: 0.4rem;
	line-height: 0.7rem;
	font-weight: normal;
}

.contact-content .content .company-p{
	color: #9c9a97;
	font-size: 0.24rem;
	margin-top: 0.4rem;
}
.contact-content .code-List{
	float: right;
	width: 1.2rem;
}
.contact-content .code-List li{
	display: inline-block;
	margin-top: 0.2rem;
}
.contact-content .code-List li .code-img{
	display: block;
	width: 1.2rem;
}
.contact-content .code-List li .name{
	color: #000000;
	font-size: 0.2rem;
	margin-top: 0.1rem;
	text-align: center;
}
/*联系我们结束*/



.advice-Btn{
	width: 2.9rem;
	height: 0.7rem;
	line-height: 0.7rem;
	font-size: 0.3rem;
	background: #e62129;
	border-radius: 0.3rem;
	text-align: center;
	margin:0 auto;
	margin-top: 1rem;
}
.advice-Btn a{
	display: block;
	width: 100%;
	height: 100%;
	color: #ffffff;
} 
.map{
	display: inline-block;
	width: 100%;
	margin-top: 0.55rem;
}
.map-img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 0.4rem;
	border: 1px solid #cccccc;
}

/*联系我们结束*/








@media (min-width: 320px){html{font-size: 42.7px;}}
@media (min-width: 360px){html{font-size: 48px;}}
@media (min-width: 375px){html{font-size: 50px;}}
@media (min-width: 384px){html{font-size: 51.1px;}}
@media (min-width: 412px){html{font-size: 54.8px;}}
@media (min-width: 414px){html{font-size: 55px;}}
@media (min-width: 448px){html{font-size: 59.6px;}}
@media (min-width: 480px){html{font-size: 63.8px;}}
@media (min-width: 512px){html{font-size: 68px;}}
@media (min-width: 544px){html{font-size: 72.4px;}}
@media (min-width: 576px){html{font-size: 76.6px;}}
@media (min-width: 608px){html{font-size: 80.9px;}}
@media (min-width: 640px){html{font-size: 85.1px;}}
@media (min-width: 750px){html{font-size: 100px;}}
@media (min-width: 800px){html{font-size: 106.5px;}}
@media (min-width: 1024px){html{font-size: 136.5px;}}