.my-about-swiper{
  width: 1050px;
  height: 580px;
  margin: 0 auto;
}
.my-about-swiper .slide-carousel {
  margin-bottom: 20px;
}
.my-about-swiper .slide-3d .desc {
  display: none;
}
.my-about-swiper .slide-3d .item-list li {
  width: 750px;
  height: 464px;
  transition: all 0.5s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.my-about-swiper .slide-3d .item-list li.item0 {
  transform: translate3d(-225px, 0, 0) scale(0.8);
}
.my-about-swiper .slide-3d .item-list li.item1 {
  transform: translate3d(0, 0, 0) scale(0.8);
  transform-origin: 0 50%;
  opacity: 1;
  z-index: 2;
}
.my-about-swiper .slide-3d .item-list li.item2 {
  transform: translate3d(150px, 0, 0) scale(1);
  transform-origin: 0 50%;
  opacity: 1;
  z-index: 3;
}
.my-about-swiper .slide-3d .item-list li.item3 {
  transform: translate3d(299px, 0, 0) scale(0.8);
  transform-origin: 100% 50%;
  opacity: 1;
  z-index: 2;
}
.my-about-swiper .slide-3d .item-list li.item4 {
  transform: translate3d(675px, 0, 0) scale(0.8);
}
.my-about-swiper .slide-3d .item-list li.item5 {
  transform: translate3d(900px, 0, 0) scale(0.8);
}
.my-about-swiper .slide-3d .item-list li.item6 {
  transform: translate3d(1125px, 0, 0) scale(0.8);
}
.my-about-swiper .slide-3d .item-list li.item7 {
  transform: translate3d(1350px, 0, 0) scale(0.8);
}
.my-about-swiper .slide-3d .item-list li.item8 {
  transform: translate3d(1575px, 0, 0) scale(0.8);
}
.my-about-swiper .slide-3d .item-list li.item9 {
  transform: translate3d(1800px, 0, 0) scale(0.8);
}
.my-about-swiper .slide-2d .item-list li {
  width: 1200px;
  height: 300px;
  transition: all 0.5s ease-out;
  position: absolute;
  top: 0;
  left: 0;
}
.my-about-swiper .slide-2d .item-list li.item0 {
  transform: translateX(-1050px);
}
.my-about-swiper .slide-2d .item-list li.item1 {
  transform: translateX(0px);
}
.my-about-swiper .slide-2d .item-list li.item2 {
  transform: translateX(1050px);
}
.my-about-swiper .slide-2d .item-list li.item3 {
  transform: translateX(2100px);
}
.my-about-swiper .slide-2d .item-list li.item4 {
  transform: translateX(3150px);
}
.my-about-swiper .slide-2d .item-list li.item5 {
  transform: translateX(4200px);
}
.my-about-swiper .slide-2d .item-list li.item6 {
  transform: translateX(5250px);
}
.my-about-swiper .slide-2d .item-list li.item7 {
  transform: translateX(6300px);
}
.my-about-swiper .slide-2d .item-list li.item8 {
  transform: translateX(7350px);
}
.my-about-swiper .slide-2d .item-list li.item9 {
  transform: translateX(8400px);
}
